extends ./../layout.pug

block styles
	link(rel="stylesheet" href="/css/bank.css")
	<link href="/libs/gitbook-2.6.7/css/style.css" rel="stylesheet">
	<link href="/libs/gitbook-2.6.7/css/plugin-bookdown.css" rel="stylesheet">
	<link href="/libs/gitbook-2.6.7/css/plugin-highlight.css" rel="stylesheet">
	<link href="/libs/gitbook-2.6.7/css/plugin-search.css" rel="stylesheet">
	<link href="/libs/gitbook-2.6.7/css/plugin-fontsettings.css" rel="stylesheet">
	<link href="/libs/gitbook-2.6.7/css/plugin-clipboard.css" rel="stylesheet">
	<link href="/libs/anchor-sections-1.1.0/anchor-sections.css" rel="stylesheet">
	<link href="/libs/anchor-sections-1.1.0/anchor-sections-hash.css" rel="stylesheet">
	<link href="/libs/selectize-0.12.4/css/selectize.bootstrap3.css" rel="stylesheet">
	<link href="/libs/tabwid-1.0.0/tabwid.css" rel="stylesheet">
	<link href="/libs/datatables-css-0.0.0/datatables-crosstalk.css" rel="stylesheet">
	<link href="/libs/dt-core-1.11.3/css/jquery.dataTables.min.css" rel="stylesheet">
	<link href="/libs/dt-core-1.11.3/css/jquery.dataTables.extra.css" rel="stylesheet">
	<link href="/libs/crosstalk-1.2.0/css/crosstalk.min.css" rel="stylesheet">
	<link href="/libs/dt-ext-buttons-1.11.3/css/buttons.dataTables.min.css" rel="stylesheet">
	<link href="/libs/nouislider-7.0.10/jquery.nouislider.min.css" rel="stylesheet">
	<link href="/libs/highcharts-9.3.1/css/motion.css" rel="stylesheet">
	<link href="/libs/leaflet-1.3.1/leaflet.css" rel="stylesheet">
	<link href="/libs/leafletfix-1.0.0/leafletfix.css" rel="stylesheet">
	<link href="/libs/rstudio_leaflet-1.3.1/rstudio_leaflet.css" rel="stylesheet">
	<link href="/libs/leaflet-easybutton-1.3.1/easy-button.css" rel="stylesheet">
	<link href="/libs/fontawesome-4.7.0/font-awesome.min.css" rel="stylesheet">
	<link href="/libs/ionicons-2.0.1/ionicons.min.css" rel="stylesheet">
	link(rel="stylesheet" href="/css/reports/htmlReport.css")
	link(rel="stylesheet" href="/css/reports/report.css")

block main 
	p.loader.active Loading...
	div#report #{reportBody}
	if !loggedIn
		a.login(href="/login") Log In

block scripts 
	<script src="/libs/header-attrs-2.11/header-attrs.js"></script>
	<script src="/libs/jquery-3.6.0/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/fuse.js@6.4.6/dist/fuse.min.js"></script>
	<script src="/libs/accessible-code-block-0.0.1/empty-anchor.js"></script>
	<script src="/libs/anchor-sections-1.1.0/anchor-sections.js"></script>
	<script src="/libs/selectize-0.12.4/js/selectize.min.js"></script>
	<script src="/libs/htmlwidgets-1.5.4/htmlwidgets.js"></script>
	<script src="/libs/datatables-binding-0.22/datatables.js"></script>
	<script src="/libs/dt-core-1.11.3/js/jquery.dataTables.min.js"></script>
	<script src="/libs/crosstalk-1.2.0/js/crosstalk.min.js"></script>
	<script src="/libs/jszip-1.11.3/jszip.min.js"></script>
	<script src="/libs/pdfmake-1.11.3/pdfmake.js"></script>
	<script src="/libs/pdfmake-1.11.3/vfs_fonts.js"></script>
	<script src="/libs/dt-ext-buttons-1.11.3/js/dataTables.buttons.min.js"></script>
	<script src="/libs/dt-ext-buttons-1.11.3/js/buttons.html5.min.js"></script>
	<script src="/libs/dt-ext-buttons-1.11.3/js/buttons.colVis.min.js"></script>
	<script src="/libs/dt-ext-buttons-1.11.3/js/buttons.print.min.js"></script>
	<script src="/libs/nouislider-7.0.10/jquery.nouislider.min.js"></script>
	<script src="/libs/dt-plugin-ellipsis-1.11.3/source.js"></script>
	<script type="text/javascript" src="https://mathjax.rstudio.com/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
	<script src="/libs/proj4js-2.3.15/proj4.js"></script>
	<script src="/libs/highcharts-9.3.1/highcharts.js"></script>
	<script src="/libs/highcharts-9.3.1/highcharts-3d.js"></script>
	<script src="/libs/highcharts-9.3.1/highcharts-more.js"></script>
	<script src="/libs/highcharts-9.3.1/modules/stock.js"></script>
	<script src="/libs/highcharts-9.3.1/modules/map.js"></script>
	<script src="/libs/highcharts-9.3.1/modules/data.js"></script>
	<script src="/libs/highcharts-9.3.1/modules/exporting.js"></script>
	<script src="/libs/highcharts-9.3.1/modules/offline-exporting.js"></script>
	<script src="/libs/highcharts-9.3.1/modules/drilldown.js"></script>
	<script src="/libs/highcharts-9.3.1/modules/item-series.js"></script>
	<script src="/libs/highcharts-9.3.1/modules/overlapping-datalabels.js"></script>
	<script src="/libs/highcharts-9.3.1/modules/annotations.js"></script>
	<script src="/libs/highcharts-9.3.1/modules/export-data.js"></script>
	<script src="/libs/highcharts-9.3.1/modules/funnel.js"></script>
	<script src="/libs/highcharts-9.3.1/modules/heatmap.js"></script>
	<script src="/libs/highcharts-9.3.1/modules/treemap.js"></script>
	<script src="/libs/highcharts-9.3.1/modules/sankey.js"></script>
	<script src="/libs/highcharts-9.3.1/modules/dependency-wheel.js"></script>
	<script src="/libs/highcharts-9.3.1/modules/organization.js"></script>
	<script src="/libs/highcharts-9.3.1/modules/solid-gauge.js"></script>
	<script src="/libs/highcharts-9.3.1/modules/streamgraph.js"></script>
	<script src="/libs/highcharts-9.3.1/modules/sunburst.js"></script>
	<script src="/libs/highcharts-9.3.1/modules/vector.js"></script>
	<script src="/libs/highcharts-9.3.1/modules/wordcloud.js"></script>
	<script src="/libs/highcharts-9.3.1/modules/xrange.js"></script>
	<script src="/libs/highcharts-9.3.1/modules/tilemap.js"></script>
	<script src="/libs/highcharts-9.3.1/modules/venn.js"></script>
	<script src="/libs/highcharts-9.3.1/modules/gantt.js"></script>
	<script src="/libs/highcharts-9.3.1/modules/timeline.js"></script>
	<script src="/libs/highcharts-9.3.1/modules/parallel-coordinates.js"></script>
	<script src="/libs/highcharts-9.3.1/modules/bullet.js"></script>
	<script src="/libs/highcharts-9.3.1/modules/coloraxis.js"></script>
	<script src="/libs/highcharts-9.3.1/modules/dumbbell.js"></script>
	<script src="/libs/highcharts-9.3.1/modules/lollipop.js"></script>
	<script src="/libs/highcharts-9.3.1/modules/series-label.js"></script>
	<script src="/libs/highcharts-9.3.1/plugins/motion.js"></script>
	<script src="/libs/highcharts-9.3.1/custom/reset.js"></script>
	<script src="/libs/highcharts-9.3.1/modules/boost.js"></script>
	<script src="/libs/highchart-binding-0.9.4/highchart.js"></script>
	<script src="/libs/font-awesome-5.13.0/js/script.js"></script>
	<script src="/libs/pivottabler-binding-1.5.3/pivottabler.js"></script>
	<script src="/libs/gitbook-2.6.7/js/app.min.js"></script>
	<script src="/libs/gitbook-2.6.7/js/clipboard.min.js"></script>
	<script src="/libs/gitbook-2.6.7/js/plugin-search.js"></script>
	<script src="/libs/gitbook-2.6.7/js/plugin-sharing.js"></script>
	<script src="/libs/gitbook-2.6.7/js/plugin-fontsettings.js"></script>
	<script src="/libs/gitbook-2.6.7/js/plugin-bookdown.js"></script>
	<script src="/libs/gitbook-2.6.7/js/jquery.highlight.js"></script>
	<script src="/libs/gitbook-2.6.7/js/plugin-clipboard.js"></script>
	<script src="/libs/gitbook-2.6.7/js/gitbook.min.js"></script>
	<script src="/libs/leaflet-1.3.1/leaflet.js"></script>
	<script src="/libs/leaflet-binding-2.1.1/leaflet.js"></script>
	<script src="/libs/Leaflet.glify-3.0.1/addGlifyPoints.js"></script>
	<script src="/libs/Leaflet.glify-3.0.1/addGlifyPolygons.js"></script>
	<script src="/libs/Leaflet.glify-3.0.1/addGlifyPolylines.js"></script>
	<script src="/libs/Leaflet.glify-3.0.1/glify-browser.js"></script>
	<script src="/libs/leaflet-providers-1.9.0/leaflet-providers_1.9.0.js"></script>
	<script src="/libs/leaflet-providers-plugin-2.1.1/leaflet-providers-plugin.js"></script>
	<script src="/libs/proj4-2.6.2/proj4.min.js"></script>
	<script src="/libs/Proj4Leaflet-1.0.1/proj4leaflet.js"></script>
	<script src="/libs/leaflet-easybutton-1.3.1/easy-button.js"></script>
	<script src="/libs/leaflet-easybutton-1.3.1/EasyButton-binding.js"></script>
	script(src="/js/reports/responsive.js") 
	script(src="/js/reports/report.js") 