h1 + p.location
{
	width: 90%;
	margin: 0 auto 1rem;
	font-size: 1.2rem;
	font-weight: 600;
}
.reportTypes
{
	top: -1px;
}
section .reports
{
	width: 80%;
	border-left: 1px solid;
}
.reports .reportType
{
	display: none;
	width: 100%;
	padding: 0 0.5rem;
}
.reports .reportType.active
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}
.name
{
	font-size: 1.5rem;
}
.report p:not(.location)
{
	font-size: 1.5rem;
	margin-top: 1rem;
}
.report p:not(.location) a
{
	padding: 0 0.5rem;
	color: #000000;
	background-color: transparent;
	box-shadow: none;
	width: auto;
}
.report p:not(.location) a:focus, .report p:not(.location) a:hover
{
	color: #005487;
	box-shadow: none;
}
@media screen and (max-width: 767px)
{
	section .reports
	{
		width: 100%;
		border-left: none;
	}
}