extends layout.pug

block meta
    meta(name="keywords", content="")
    meta(name="description", content="")

block styles 
    link(rel="stylesheet", href="/css/about.css")

block header 
    h1 We are visbanking
    h2 Visualize banking data like never before
    img(src="/images/logo.png", alt="Visbanking")
    p#intro Gone are the days of combing through Excel files of flat data and comparing performance of one bank to another. 
        br
        | With Visbanking, you will visualize the latest data on all banks across the United States. You will receive the latest updates each quarter to ensure you are on top of the latest developments across the banking industry.
    hr

block main 
    section#about
        aside
            h2 About us
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis sagittis ante. Aliquam sodales vitae leo eget tristique. Quisque eget nisl lobortis, cursus ex sit amet, lacinia felis. Sed enim massa, feugiat a egestas at, cursus id augue. Pellentesque eu accumsan magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    hr
    section#why 
        aside
            h2 Why We Do It
            p As the President and Regional CEO for a regional bank, I found myself in a dogfight every day trying to win new business against my banking competitors. Often I felt like I was flying in the dark.
                br
                | What I did not have at my disposal was a good "heads-up display" of all of the participants in this competitive market. I knew there must be a better way. 
                br
                | That is why I founded Visbanking. 
                br
            p 
                em Brian pillmore, Founder
    hr
    section#mission
        aside 
            h2 Bringing transparency and understanding to banking
            p At Visbanking, our mission is to bring transparency and understanding to the banking industry. We aim to allow easier access to all the important, required information regarding all areas of the banking industry in a simple, more comprehensible manner.
    hr
    section#vision 
        aside 
            h2 Banking. Visualized.
            p At Visbanking we envision a much simpler, more understandable and transparent banking industry where everything is easily accesible and comprehensible. Visually.
    hr
    section#team
        h2 Our team
        aside.member
            img(src="/images/logo.png", alt="")
            p.name Brian Pillmore
            p.title CEO
        aside.member
            img(src="/images/logo.png", alt="")
            p.name Erdem Akkas
            p.title CTO
        aside.member
            img(src="/images/logo.png", alt="")
            p.name Jose Otero
            p.title SALES &amp; MARKETING LEADER
        a(href="/about/team") OUR TEAM

block scripts 
    script(src="/js/about.js") 