extends layout.pug

block meta
    meta(name="keywords", content="")
    meta(name="description", content="")

block styles 
    link(rel="stylesheet", href="/css/about.css")

block header 
    h1.center Who We Are
    a(href="#about") 
        i.bi-arrow-down-short

block main 
    section.container-fluid#about
        h2 Our History 
        p Paragraph
    section.container-fluid#mission 
        aside
            div 
                h2 Mission
            div 
                p Mission Statement
        aside 
            div 
                p Vision Statement
            div 
                h2 Vision 
    section.container-fluid#team 
        h2 Our Team 
        aside.member.row
            .col-md-2.sm
                img.profile(src="", alt="Profile Picture")
            .col-md-10
                h3.name Name 
                p.title Title
                p.bio Short intro/bio
                p.socials 
                    a(href="#", title="LinkedIn")
                        i.bi-linkedin
                    a(href="#", title="Twitter")
                        i.bi-twitter
                    a(href="#", title="Website")
                        i.bi-globe
            .col-md-2
                img.profile(src="", alt="Profile Picture")
        aside.member.row
            .col-md-2.sm
                img.profile(src="", alt="Profile Picture")
            .col-md-10
                h3.name Name 
                p.title Title
                p.bio Short intro/bio
                p.socials 
                    a(href="#", title="LinkedIn")
                        i.bi-linkedin
                    a(href="#", title="Twitter")
                        i.bi-twitter
                    a(href="#", title="Website")
                        i.bi-globe
            .col-md-2
                img.profile(src="", alt="Profile Picture")
        aside.member.row
            .col-md-2.sm
                img.profile(src="", alt="Profile Picture")
            .col-md-10
                h3.name Name 
                p.title Title
                p.bio Short intro/bio
                p.socials 
                    a(href="#", title="LinkedIn")
                        i.bi-linkedin
                    a(href="#", title="Twitter")
                        i.bi-twitter
                    a(href="#", title="Website")
                        i.bi-globe
            .col-md-2
                img.profile(src="", alt="Profile Picture")
        aside.member.row
            .col-md-2.sm
                img.profile(src="", alt="Profile Picture")
            .col-md-10
                h3.name Name 
                p.title Title
                p.bio Short intro/bio
                p.socials 
                    a(href="#", title="LinkedIn")
                        i.bi-linkedin
                    a(href="#", title="Twitter")
                        i.bi-twitter
                    a(href="#", title="Website")
                        i.bi-globe
            .col-md-2
                img.profile(src="", alt="Profile Picture")
        aside.member.row
            .col-md-2.sm
                img.profile(src="", alt="Profile Picture")
            .col-md-10
                h3.name Name 
                p.title Title
                p.bio Short intro/bio
                p.socials 
                    a(href="#", title="LinkedIn")
                        i.bi-linkedin
                    a(href="#", title="Twitter")
                        i.bi-twitter
                    a(href="#", title="Website")
                        i.bi-globe
            .col-md-2
                img.profile(src="", alt="Profile Picture")
        aside.member.row
            .col-md-2.sm
                img.profile(src="", alt="Profile Picture")
            .col-md-10
                h3.name Name 
                p.title Title
                p.bio Short intro/bio
                p.socials 
                    a(href="#", title="LinkedIn")
                        i.bi-linkedin
                    a(href="#", title="Twitter")
                        i.bi-twitter
                    a(href="#", title="Website")
                        i.bi-globe
            .col-md-2
                img.profile(src="", alt="Profile Picture")