extends layout.pug

block meta
    meta(name="keywords", content="")
    meta(name="description", content="")

block styles 
    link(rel="stylesheet", href="/css/about.css")

block header 
    aside.center 
        h1 Who We Are 
        p We are a team of enthusiastic developers, data scientists, and marketing and operations professionals keen on building the leading banking information service platform.
    a(href="#quotes")
        i.bi-arrow-down-short

block main 
    section.container-fluid#quotes
        h2 Brian Pillmore, Co-founder
        aside.quote 
            div 
                img(src="/images/message.png", alt="Brian Pillmore")
                p.profile Brian started his career as an engineer with GE.  After a few years in product development, he moved into finance and then financial services.  Helping GE Capital launch a bank in the middle of the 2008 financial crisis motivated him to continue learning about banking.  He spent time in Europe and across the US in financial services and banking businesses with GE.  Eventually Brian joined Wells Fargo as a Business Development Representative and then went on to lead UMB Bank in Oklahoma.  The experience inside the banking industry provides crucial insights that we integrate into the information services that Visbanking provides everyday.
            div 
                p
                    em "As the President and Regional CEO for a regional bank, I found myself in a dogfight every day trying to win new business against my banking competitors. Often I felt like I was flying in the dark. What I did not have at my disposal was a good "heads-up display" of all of the participants in this competitive market. I knew there must be a better way. That is why I founded Visbanking.
                p 
                    em With a leading data science team, we developed Visbanking from the ground up. It serves as the "heads up" display for bank owners, Boards of Directors, banking leaders, commercial sales executives, macroeconomists and anyone else that needs a visual tool to drill down and zoom out on the banking sector. Updated every quarter and delivered to all customers, Visbanking serves as an invaluable decision tool for every customer. Don't fly in the dark - add Visbanking to your team's decision-making tools now!"
        //- h2 Erdem Akkaş, Co-founder 
        //- aside.quote
    section.container-fluid#mission 
        aside
                h2 Bringing transparency and understanding to banking
                p At Visbanking, our mission is to bring transparency and understanding to the banking industry. We aim to allow easier access to all the important, required information regarding all areas of the banking industry in a simple, more comprehensible manner.
    section.container-fluid#vision  
        aside
            h2 Banking. Visualized.
            p Following our mission, at Visbanking we envision a much simpler, more understandable and transparent banking industry where everything is easily accesible and comprehensible. Visually.
    section.container-fluid#team 
        aside
            h2 Our Team 
            p Based in Bogotá, Colombia, our team is composed of data scientists, engineers, marketing and operations professionals.
            button
                a(href="/about/team") Our Team