extends layout.pug

block meta
    meta(name="keywords", content="")
    meta(name="description", content="")

block styles 
    link(rel="stylesheet", href="/css/about.css")

block header 
    h1 We are Visbanking
    h2 Real-time Intelligence and Analysis
    aside#intro 
        div 
            p Visbanking was founded with one primary goal in mind: to provide banking industry information services that deliver real-time data and insights in an affordable, transparent, and integrated manner. Recognizing that other financial information services have traditionally been expensive, complex, and focused on do-it-yourself (DIY) reporting, we set out to create easy-to-use data visualization tools and innovative do-it-for-me (DIFM) customizable reports accessible via a license-based monthly subscription service.
            p Our software-as-a-service offerings include the vital multi-dimensional banking intelligence, valuations, pricing, data analysis, and visualization tools today's bank stakeholders, vendors, equity analysts, and distressed debt funds need to gather and analyze complex data, develop key strategies, and make informed decisions. 
            p In addition, we provide consulting services to select clients with bespoke needs for specialized data visualization, strategic planning, application development, and systems design and maintenance.
        img(src="/images/about/intro.png", alt="")
    hr

block main 
    section#history 
        h2 Our History
        img(src="/images/about/history.png", alt="")
        aside
            p Like all good stories, Visbanking's history began with a challenge. Before launching the company, CEO Brian Pillmore was engaged in a consulting project for a regional bank that involved gathering vital banking information and delivering it in an accessible and understandable format. About a month into the project, the bank's leadership changed, and the project was ended as the new management decided to go in a different direction. The former leader's successor refused to pay for the work that had already been completed.
            p While that nonpayment was disappointing and challenging, Brian also recognized that the lemons he was being handed could be turned into lemonade. In his past role as President and Regional CEO of a bank, he had spent much of his time trying to win new business from his competitors. During that time, he had long recognized the need for accessible banking information about those rivals. Though his latest project was canceled without payment, Brian realized that the experience he gained could be leveraged to form the foundation for a service that could be provided to every bank.
            p From that point on, Brian and CTO Erdem Akkaş began working on what would soon become Visbanking, with the goal of creating a data-driven provider of banking information, visualizations, and insights focused on delivering the Do-It-For-Me documentation today's busy banking and finance industry professionals need.
    hr
    section#culture
        h2 Our Culture
        aside
            p At Visbanking, we take pride in our 
                strong multicultural and multinational
                |  workforce and culture. Our diverse workforce is in offices spread across three continents. We are 
                strong young
                | , 
                strong data driven
                | , and 
                strong passionate
                |  about information, banking, and the intersection of finance and technology. Just as important, we are driven by a 
                strong spirit of innovation and curiosity
                | , and committed to finding and delivering the accessible, valued intelligence and insights our customers need to succeed in an 
                strong ever evolving
                |  and 
                strong increasingly competitive
                |  market.
        img(src="/images/about/culture.png", alt="")
    hr
    section#work 
        h2 Our Work
        p The word 
            em "banking"
            |  is in our company name for a reason: because 
            strong we are laser-focused on the banking industry.
            |  Our goal is to be the leading global provider of insights and accessible information on banks. To accomplish that objective, we are focused on providing 
            strong easy-to-understand
            |  bank intelligence and comparisons, superior 
            strong data visualizations
            | , and key insights. Unlike many of our competitors, our services are available in a 
            strong Do-It-For-Me
            |  format, with more than 50 pre-loaded, customized 
            strong reports and visualizations.
        p As a team, we know that great ideas can come from anyone, and that 
            em true progress requires unity of purpose and values.
            |  Together, we know that we can solve any problem, overcome any challenge, and drive each other to greater levels of success each day.
        img(src="/images/dashboard4.png", alt="")
        img(src="/images/dashboard6.png", alt="")
        img(src="/images/dashboard1.png", alt="")
    hr
    section#mission 
        aside
            h2 Our Mission
            p At Visbanking, our mission is to become the leader in delivering 
                strong timely information and insights about the banking industry.
                |  We are committed to delivering 
                strong easier access to vital data and insights
                |  about all areas of the banking industry in the 
                strong simplest
                | , most 
                strong comprehensible
                |  manner possible.
        aside 
            h2 Our Vision
            p We envision a tomorrow in which 
                strong vital data
                |  about banks and the banking industry is more 
                strong transparent
                | , more 
                strong understandable
                | , and 
                strong easily accessible.
    hr
    section#commitment 
        aside 
            h2 Our Commitment to You
            p Because we are 
                strong future-focused
                | , we are always looking for tomorrow's solutions today. As your trusted partner, Visbanking is committed to 
                strong advancing our industry
                |  to better serve your needs. Because we cannot be successful unless you are successful, our primary objective is to 
                strong always pursue the greatest value for your project needs.
    hr
    section#team
        h2 Our team
        aside.member
            img(src="/images/members/brianPillmore.jpg", alt="")
            p.name Brian Pillmore
            p.title CEO
        aside.member
            img(src="/images/members/erdemAkkas.jpg", alt="")
            p.name Erdem Akkas
            p.title CTO
        aside.member
            img(src="/images/members/joseOtero.jpg", alt="")
            p.name Jose Otero
            p.title SALES &amp; MARKETING LEADER
        a(href="/about/team") OUR TEAM
    hr
    section#contact 
        h2 Contact Visbanking to Learn More about Our Products and Services
        p Visbanking delivers the accurate, timely, and customizable 
            strong data visualizations and insights
            |  you need to make informed decisions for your business. 
        p
            a(href="/contact") 
                strong Contact us
            |  today to learn more about our innovative solutions and how they can benefit your business.

block scripts 
    script(src="/js/about.js") 