extends layout.pug

block meta
    meta(name="description", content="")
    meta(name="keywords", content="")

block styles 
    link(rel="stylesheet", href="/css/contact.css")

block header
    aside.center 
        h1 Contact Us 
        p Whether you want to know more about Visbanking before making a purchase, or you just have an inquiry about our services, feel free to fill out the form below and we'll be sure to get back to you.
    a(href="#contact")
        i.bi-arrow-down-short

block main
    section.container-fluid#contact
        form.row.center(method="POST")
            aside.col-md-6
                label(for="name") Name *
                input#name(type="text", name="name", required)
                label(for="email") Email *
                input#email(type="email", name="email", required)
                label(for="subject") Subject *
                input#subject(type="text", name="subject", required)
            aside.col-md-6
                label(for="message") Message *
                textarea#message(name="message", rows="5", required) 
                input(type="submit", value="Submit")

block scripts 
    script(src="/js/contact.js") 