extends layout.pug

block meta
    meta(name="description", content="")
    meta(name="keywords", content="")

block styles 
    link(rel="stylesheet", href="/css/contact.css")

block header

block main
    h1 Contact Us
    p Contact us or connect to Visbanking
    p.icons 
        a(href="https://www.facebook.com/visbanking", target="_blank", rel="noopener noreferrer nofollow", title="Facebook") 
            i.bi-facebook
        a(href="https://www.linkedin.com/company/visbanking/", target="_blank", rel="noopener noreferrer nofollow", title="LinkedIn")
            i.bi-linkedin
        a(href="https://www.instagram.com/visbanking/", target="_blank", rel="noopener noreferrer nofollow", title="Instagram")
            i.bi-instagram 
    section.container-fluid#contact
        form(method="POST")
            h2 Talk with us
            aside
                input#name(type="text", name="fname", required, placeholder="First Name")
                input#email(type="text", name="lname", required, placeholder="Last Name")
                input#subject(type="email", name="email", required, placeholder="Email")
                input#phone(type="tel", name="phone", placeholder="Phone")
                input#message(type="text", name="message", rows="2", required, placeholder="Message") 
                input(type="submit", value="Send")
        aside.information 
            div
                h3 Contact Information
                a(href="mailto:contact@visbanking.com")
                    i.bi-envelope 
                    |  Email
                a(href="#")
                    i.bi-telephone 
                    |  Phone
                a(href="#") Address
            br
            div
                h3 Company
                a(href="/about") About Us
                a(href="/privacy") Privacy Policy
                a(href="#") Support 
                a(href="/terms") Terms and Conditions

block scripts 
    script(src="/js/contact.js") 