doctype html

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="title", content="Admin Dashboard - Visbanking")
        title Admin Dashboard - Visbanking
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Quicksand:wght@400;500;600;700&family=Raleway:wght@400;600&display=swap", rel="stylesheet")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We", crossorigin="anonymous")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css")
        link(rel="stylesheet", href="/css/dashboard.css")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js", integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj", crossorigin="anonymous")
        script(src="https://unpkg.com/vue@next")
    body 
        section.container-fluid#dashboard
            h1 Hello, #{admin.Username}
            h2 What do you want to do today?
            p.message #{message||''}
            aside#panel
                div
                    h3#profile(:class="{ active:profile }", @click="updateProfile") Manage profile information
                    h3#admins(:class="{ active:admins }", @click="updateAdmins") Manage admins
                    h3#articles(:class="{ active:insights }", @click="updateInsights") Manage insights
                    h3#members(:class="{ active:members }", @click="updateMembers") Manage team members
                div
                    form.profile(action="/admin/dashboard/profile", method="POST", :class="{ active:profile }")
                        label(for="username") Username
                        input#username(type="text", name="username")
                        label(for="pass") Password
                        input#pass(type="password", name="pass")
                        input(type="submit", value="Update profile information")
                    aside.admins(:class="{ active:admins }")
                        button Add admin
                        form(action="/admin/dashboard/admins", method="POST")
                            label(for="username") Username *
                            input#username(type="text", name="username", required)
                            label(for="pass") Password *
                            input#pass(type="password", name="pass", required)
                            input(type="submit", name="action", value="Add admin")
                        button Delete admin
                        form(action="/admin/dashboard/admins", method="POST")
                            label(for="username") Username *
                            input#username(type="text", name="username", required)
                            input.danger(type="submit", name="action", value="Delete admin") 
                    aside.articles(:class="{ active:insights }")
                        button 
                            a(href="/admin/dashboard/insights") Add new insight
                        button Remove insight 
                        form(action="/admin/dashboard/insights", method="POST")
                            label(for="title") Title *
                            input#title(type="text", name="title", required)
                            input.danger(type="submit", name="action", value="Delete insight")
                    aside.members(:class="{ active:members }")
                        button Add new team member
                        form(action="/admin/dashboard/members", method="POST", enctype="multipart/form-data")
                            label(for="name") Name *
                            input#name(type="text", name="name", required)
                            label(for="photo") Photo *
                            input#photo(type="file", name="photo", accept="image/jpeg, image/png", required)
                            label(for="title") Title *
                            input#title(type="text", name="title", maxlength="100", required)
                            label(for="department") Department *
                            select#department(name="department") 
                                option(value="Leadership") Leadership
                                option(value="Administrative") Administrative
                                option(value="Software") Software
                                option(value="Marketing") Marketing
                            label(for="linkedin") LinkedIn *
                            input#linkedin(type="url", name="linkedin", required)
                            label(for="website") Website 
                            input#website(type="url", name="website")
                            input(type="submit", name="action", value="Add member")
                        button Remove team member 
                        form(action="/admin/dashboard/members", method="POST")
                            label(for="name") Name *
                            input#name(type="text", name="name", required)
                            input.danger(type="submit", name="action", value="Delete member")
        a#logout(href="/admin/logout") LOGOUT
        script(src="/js/dashboard.js") 