extends layout.pug

block styles 
	link(rel="stylesheet" href="/css/macros.css")

block main 
	a.back(href="/reports")
		i.bi-arrow-left-short
		span Back to All Reports
	h1 #{title.split("-")[0].trim()}
	p#intro 
		if path === "/macro"
			| View reports on macro sections of the industry regarding types, composition and uses of assets owned by banks across the United States. 
		else 
			| View reports on macro sections of the industry regarding bank-owned assets in the United States, either nation-wide or state-specific.
	section.reports#deposits 
		if !title.split("-")[0].includes("Deposits")
			h2 Deposits
		each report in reports
			aside.report
				h3.name #{report.SectionName.split("_").join(" ")}
				p.location 
					i.bi-geo-alt-fill
					if report.State 
						|  #{report.State}, U.S.
					else
						|  All U.S. States
				hr
				p
					span View Report
					a(href=`/reports/macro/deposits/${report.State ? report.State : report.SectionName.toLowerCase()}`)
						if report.FileExtension === "pdf"
							i.bi-file-earmark-pdf-fill(title="View PDF Report")
						else if report.FileExtension === "html"
							i.bi-file-earmark-bar-graph-fill(title="View HTML Report")
		if path.includes("/reports/macro") && !path.includes("deposits")
			a(href="/reports/macro/deposits") View All Deposits Reports