extends layout.pug 

block styles 
	link(rel="stylesheet" href="/css/performance.css")

block main 
	a.back(href="/banks")
		i.bi-arrow-left-short
		span Back to All Reports
	h1 #{title.split("-")[0].trim()}
	p#intro View reports on performance for banks across the United States.
	section.reports 
		each report in reports
			aside.report
				h3.name #{report.SectionName.split("_").join(" ")}
				p.location 
					i.bi-geo-alt-fill
					if report.State 
						|  #{report.State}, U.S.
					else
						|  All U.S. States
				hr
				p
					span View Report
					a(href=`/banks/performance/${report.State ? report.State : report.SectionName.toLowerCase()}`)
						if report.FileExtension === "pdf"
							i.bi-file-earmark-pdf-fill(title="View PDF Report")
						else if report.FileExtension === "html"
							i.bi-file-earmark-bar-graph-fill(title="View HTML Report")