extends layout.pug

block meta
    meta(name="description", content="")
    meta(name="keywords", content="")

block styles 
    link(rel="stylesheet", href="/css/pricing.css")

block main
        h1 Pricing
        aside.row#pricing
            .col-md-6
                .card 
                    .card-header 
                        h2 Free
                    .card-body
                        p With a Free account, you'll have complete access to:
                        ul.list-group.list-group-flush
                            li.list-group-item Public reports
                            li.list-group-item Public reports
                            li.list-group-item Public reports
                    .card-footer
                        button Get Free Access
            .col-md-6 
                .card 
                    .card-header 
                        h2 Professional
                        p
                            span.price $99
                            | /month
                    .card-body
                        p The Professional plan extends the Free plan's access to our services through the following:
                        ul.list-group.list-group-flush
                            li.list-group-item Public reports
                            li.list-group-item Public reports
                            li.list-group-item Public reports
                    .card-footer
                        button Get Professional Access
            .col-md-6 
                .card 
                    .card-header 
                        h2 Premium
                        p
                            span.price $499
                            | /month
                    .card-body
                        p The Premium plan gives you acces to most valuable features of Visbanking's services and capabilities, such as:
                        ul.list-group.list-group-flush
                            li.list-group-item Public reports
                            li.list-group-item Public reports
                            li.list-group-item Public reports
                    .card-footer
                        button Get Premium Access
            .col-md-6 
                .card 
                    .card-header 
                        h2 Enterprise
                        p
                            span.price $999
                            | /month
                    .card-body
                        p The Enterprise plan allows you full, unlimited access to all of Visbanking's features, including:
                        ul.list-group.list-group-flush
                            li.list-group-item Public reports
                            li.list-group-item Public reports
                            li.list-group-item Public reports
                    .card-footer
                        button Get Enterprise Access
