extends layout.pug

block meta
    meta(name="keywords", content="")
    meta(name="description", content="")

block styles 
    link(rel="stylesheet", href="/css/services.css")

block main 
    h1 Our services
    //- hr
    section#services
        //- h2 Services
        aside.service
            p.title Competitive Analysis
            p View a group of customized competitors to assess comparative performance.
        aside.service
            p.title Market Share
            p Define a market and measure the market share from banks in that market.
        aside.service
            p.title M&amp;A Due Dilligence
            p Merger on the horizon? Dig into credit quality before combining portfolios.
        aside.service
            p.title Credit Quality Trends
            p View a group of customized competitors to assess comparative performance.
        aside.service
            p.title Geographic Coverage
            p Considering entering a new market? Quickly assess the other banks in that geography.
        aside.service
            p.title Competitive Analysis
            p Pull the entire US banking landscape with deposit or loan growth over time.
    hr
    section#platform 
        h2 Our Platform
        img(src="/images/dashboard1.png", alt="Individual Bank Reports")
        img(src="/images/dashboard2.png", alt="National Bank Rankings")
        img(src="/images/dashboard3.png", alt="Banks with Demographic Data")
        img(src="/images/dashboard4.png", alt="Individual Bank Assets in Numbers")
        img(src="/images/dashboard5.png", alt="Individual Bank Assets through Time")
        img(src="/images/dashboard6.png", alt="Individual Bank Balance Sheet")