extends layout.pug

block meta
    meta(name="keywords", content="")
    meta(name="description", content="")

block styles 
    link(rel="stylesheet", href="/css/services.css")

block header
    aside.center
        h1 Our Services
        p We provide all sorts of previously-analyzed relevant data for you, so that you can focus on what matters
            br
            | Making Decisions
    a(href="#performance")
        i.bi-arrow-down-short

block main 
    section.container-fluid#performance
        aside
            h2 Performance
            p We track, analyze and display bank's performance data quarter after quarter, allowing you to see each bank's progress and growth over time
    section.container-fluid#financial 
        aside
            h2 Financial
            p Explanation
    section.container-fluid#people
        aside
            h2 People
            p Explanation
    section.container-fluid#market 
        aside
            h2 Market
            p Explanation
    section.container-fluid#geography 
        aside
            h2 Geography
            p Explanation
    section.container-fluid#regulatory 
        aside
            h2 Regulatory
            p Explanation

block scripts 
    script(src="/js/services.js") 