extends layout.pug

block meta
	meta(name="keywords" content="Competitive Analysis, Market Share, M&A Due Dilligence, Credit Quality Trends, Geographic Coverage, Deposits, Loadn Growth, Loan Decline, Merger and Acquisition, Visbanking, ")
	meta(name="description" content="Know asset credit quality trends in US banking sector. Also, know Bank Market Share, US Bank Competitors & Loan Growth with Visbanking services.")

block styles 
	link(rel="stylesheet" href="/css/services.css")

block main 
	h1 Our services
	section#intro
		aside#text
			h2 Let Visbanking change your perspective on banking data
			p Gone are the days when financial professionals were forced to comb through Excel sheets of flat data to compare different banks' performance. With 
				a(href="/") Visbanking
				| , the 
				strong future of banking data analysis is now
				| . We provide the 
				em banking intelligence
				|  and 
				em do-it-for-me (DIFM)
				|  reports you need to visualize the latest data on 
				strong every bank in the United States
				| . With your subscription to our innovative services, you can rest assured that you will 
				strong always have the timely and accurate information
				|  you need to ensure that you stay on top of the 
				em latest developments in the banking industry
				| .
			p Our commitment to
				em completeness of vision
				|  extends to every area of our services. That commitment is why we deliver the 
				strong wide range of data you need
				|  to make the most 
				strong effective decisions about your business
				| , including vital information on 
				strong performance, financials, market share, geography, personnel, and regulatory actions
				| . That completeness of vision also extends to our ability to execute, as we strive each day to 
				em understand your business challenges
				|  so that we can deliver the 
				em innovative products and services
				|  you need to enhance your success. 
		aside#video
			video(src="/videos/services.mp4", controls, poster="/images/servicesVideoPoster.jpg" controlsList="nodownload") 
	hr
	section#services
		h2 The Banking information services you need to enhance your decision-making
		each service in services 
			aside.service(data-path=service.ID)
				p.title #{service.Name}
				p #{service.Description}
	hr
	section#platform 
		h2 Our Platform
		p Visbanking's services do more than just provide access to raw data, charts, and graphs. Our platform delivers an interactive experience that allows you to see key data in an easily understood and visual way. Our DIFM approach saves you time and helps to ensure that your data visualizations are showing you exactly what you want to see, when you want to see it.
		p When you rely on Visbanking, you get the security and peace of mind that comes from knowing that all your key decisions are being made based on timely, accurate data - and not just opinion or conjecture. To learn more about how our banking intelligence services can benefit you, contact us today.
		img(src="/images/dashboard1.png" alt="Individual Bank Reports")
		img(src="/images/dashboard2.png" alt="National Bank Rankings")
		img(src="/images/dashboard3.png" alt="Banks with Demographic Data")
		img(src="/images/dashboard4.png" alt="Individual Bank Assets in Numbers")
		img(src="/images/dashboard5.png" alt="Individual Bank Assets through Time")
		img(src="/images/dashboard6.png" alt="Individual Bank Balance Sheet")

block scripts 
	script(src="/js/services.js") 