extends layout.pug 

block styles 
    link(rel="stylesheet", href="/css/success.css")

block header 
    .center
        i.bi-person-check-fill 
        h1 Thank you
        if path.includes("subscribe")
            p You have been successfully added to our mailing list
        else if path.includes("contact")
            p You're request has been saved successfully
    p You'll be redirected to our homepage in a moment

block scripts 
    script(src="/js/success.js") 