extends ../layout.pug 

block styles 
    link(rel="stylesheet", href="/css/user/deleted.css")

block header 
    .center 
        i.bi-person-x-fill
        h1 Your account has been succesfully deleted
    p You'll be redirected to our homepage in a moment

block scripts
    script(src="/js/deleted.js")