#about 
{
    background: #024060;
    color: #FFFFFF;
}
h2
{
    text-align: center;
    font-size: 2rem;
}
#about p
{
    margin: 3% auto;
    width: 70%;
    padding: 0 2%;
    font-family: 'Raleway';
    font-size: 1.2rem;
}
#mission
{
    min-height: auto;
}
#mission aside
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 3%;
    text-align: center;
    background-color: #024060;
    color: #FFFFFF;
    font-family: 'Quicksand';
    font-size: 1.2rem;
    margin-bottom: 2%;
}
#mission aside:last-of-type
{
    margin-bottom: 0;
}
#mission aside div > *
{
    margin: 0;
}
#mission aside div p
{
    max-width: 70%;
    margin: 1% auto 0;
}
#team
{
    background: #024060;
    color: #FFFFFF;
    padding: 3%;
    border-bottom: 1px solid;
}
.member
{
    border-bottom: 1px solid;
    padding: 1%;
    font-family: 'Montserrat';
    transition: background-color 0.2s linear, color 0.2s linear;
}
.member:hover
{
    background-color: #FFFFFF;
    color: #024060;
}
.member:last-of-type
{
    border: none;
}
.member .col-md-2
{
    text-align: center;
}
.member .sm
{
    display: none;
}
.member h3
{
    font-family: 'Raleway';
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 1%;
}
.member .socials
{
    margin-bottom: 1%;
}
.member .socials i
{
    font-size: 1.1rem;
    margin-right: 1%;
    color: #CCCCCC;
    transition: color 0.2s linear;
}
.member:hover .socials i
{
    color: #046080;
}
.member .socials i:hover
{
    color: #FFFFFF;
}
.member:hover .socials i:hover
{
    color: #024060;
}
.member .profile
{
    max-width: 5%;
    height: auto;
}
@media screen and (max-width: 767px)
{
    h2
    {
        margin-bottom: 3%;
    }
    .member
    {
        text-align: center;
    }
    .member .col-md-2
    {
        display: none;
    }
    .member .col-md-2.sm
    {
        display: block;
    }
    .member .col-md-2.sm img
    {
        margin: 3% 0;
    }
}