header
{
    min-height: auto;
}
h1
{
    margin-bottom: 0;
}
header h2
{
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
    color: #616161;
    font-weight: 400;
}
h2 + img
{
    display: block;
    margin: 3% auto 1%;
}
p#intro
{
    width: 70%;
    margin: 2% auto 0;
    text-align: center;
    line-height: 2;
    font-size: 1.2rem;
    padding-bottom: 5%;
    /* border-bottom: 1px solid #128AF9; */
}
main section
{
    padding: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    min-height: auto;
}
main section > aside
{
    max-width: 55%;
    line-height: 2;
    margin: 0 5%;
}
h2
{
    color: #005487;
    text-transform: uppercase;
    line-height: 1.2;
    width: 100%;
}
hr
{
    width: 60%;
    border: 0;
    border-bottom: 1px solid #128AF9;
}
#why, #vision
{
    justify-content: flex-end;
    text-align: right;
}
#why p:last-of-type
{
    font-weight: 600;
}
#team
{
    justify-content: space-evenly;
}
#team h2
{
    text-align: center;
}
.member
{
    margin: 3% 0;
    text-align: center;
    width: calc(100%/3.5);
    padding: 2%;
    text-transform: uppercase;
    line-height: 1.2;
}
.member img
{
    border-radius: 50%;
    border: 5px solid #015193;
}
.member .title
{
    font-weight: 700;
    font-size: 1rem;
    margin: 0;
    padding: 2% 0;
}
#team > a
{
    text-decoration: none;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #015193;
    padding: 1% 2%;
    border-radius: 15px;
    margin-bottom: 2%;
}
@media screen and (max-width: 767px)
{
    p#intro
    {
        width: 85%;
    }
    hr
    {
        width: 70%;
    }
    main section > aside
    {
        max-width: 70%;
    }
    #team > a
    {
        padding: 2% 3%;
    }
}
@media screen and (max-width: 600px)
{
    h1, header h2
    {
        width: 90%;
    }
    h1
    {
        margin: 5% auto 0;
    }
    header h2
    {
        margin: 0 auto 5%;
    }
    p#intro
    {
        font-size: 1rem;
    }
    hr
    {
        width: 80%;
    }
    main section
    {
        padding: 10% 5%;
    }
    main section > aside
    {
        text-align: center;
        max-width: 100%;
    }
    .member
    {
        width: 80%;
        margin: 0 2%;
        padding: 5% 0;
    }
    .member:not(:last-of-type)
    {
        border-bottom: 1px solid #015193;
    }
    #team > a
    {
        padding: 2% 4%;
    }
}
@media screen and (max-width: 400px)
{
    p#intro, main section > aside
    {
        text-align: justify;
    }
    h2
    {
        text-align: center;
    }
    .member
    {
        padding: 10% 0;
    }
}
/* #mission aside
{
    max-width: 100%;
} */
/* section aside:not(.quote)
{
    text-align: center;
    padding: 3%;
    width: 50%;
}
section aside:not(.quote) p
{
    font-family: 'Raleway';
    margin: 1rem auto 0;
    width: 80%;
    text-align: center;
    font-size: 1.1rem;
}
#intro .col-md-6
{
    padding: 1%;
}
#intro .col-md-6 .profile
{
    width: 80%;
    margin: 0 auto;
}
#intro .col-md-6 .profile img
{
    border-radius: 50%;
    max-width: 30%;
}
#quotes
{
    background: #024060;
    color: #FFFFFF;
}
h2
{
    text-align: center;
    font-size: 2rem;
}
#quotes .quote
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
    padding: 2%;
    margin-bottom: 2%;
}
#quotes .quote:last-of-type
{
    border: none;
    margin: 0;
}
#quotes .quote > div
{
    width: 50%;
}
#quotes .quote div:last-of-type
{
    border: none;
    font-family: 'Raleway';
}
#quotes .quote img
{
    max-width: 35%;
    display: block;
    margin: 0 auto 4%;
}
#quotes .quote p.profile
{
    text-align: justify;
    font-family: 'Quicksand';
}
#quotes .quote div:last-of-type p
{
    width: 80%;
    text-align: center;
    margin: 3% auto;
    font-size: 0.9rem;
}
#mission, #vision
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
}
#mission
{
    background-image: url('https://images.pexels.com/photos/6945/sunset-summer-golden-hour-paul-filitchkin.jpg?auto=compress&cs=tinysrgb&dpr=2&h=553&w=800');
}
#mission aside
{
    background-color: #FFFFFF;
    color: #024060;
}
#mission aside h2, #vision aside h2
{
    margin: 0 auto 1%;
    font-weight: 700;
}
#vision
{
    background-image: url('https://images.pexels.com/photos/66997/pexels-photo-66997.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=484&w=700');
}
#vision aside
{
    background-color: #024060;
    color: #FFFFFF;
}
#team
{
    background-image: url('https://images.pexels.com/photos/3184418/pexels-photo-3184418.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=484&w=700');
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#team aside
{
    background-color: #FFFFFF;
    color: #024060;
}
#team h2
{
    font-weight: 700;
    margin-bottom: 0;
}
#team button
{
    border: 1px solid;
    background-color: transparent;
    color: inherit;
    padding: 0.3rem 1rem;
    font-family: 'Montserrat';
    margin-top: 1rem;
}
#team button:hover
{
    background-color: #024060;
    color: #FFFFFF;
    transition: all 0.2s linear;
}
#team button a
{
    text-decoration: none;
    color: inherit;
    font-size: 0.9rem;
    font-weight: 600;
}
@media screen and (max-width: 991px)
{
    section aside:not(.quote)
    {
        width: 70%;
    }
}
@media screen and (max-width: 767px)
{
    section aside:not(.quote)
    {
        width: 90%;
    }
    h2
    {
        margin-bottom: 3%;
    }
}
@media screen and (max-width: 600px)
{
    section aside:not(.quote)
    {
        padding: 5% 1%;
    }
    section h2
    {
        font-size: 1.8rem;
    }
    section aside:not(.quote) p
    {
        font-size: 1rem;
        width: 90%;
    }
}
@media screen and (max-width: 450px)
{
    section aside:not(.quote)
    {
        width: 100%;
    }
} */