#intro .col-md-6
{
    padding: 1%;
}
#intro .col-md-6 .profile
{
    width: 80%;
    margin: 0 auto;
}
#intro .col-md-6 .profile img
{
    border-radius: 50%;
    max-width: 30%;
}
#quotes
{
    background: #024060;
    color: #FFFFFF;
}
h2
{
    text-align: center;
    font-size: 2rem;
}
#quotes .quote
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
    padding: 2%;
    margin-bottom: 2%;
}
#quotes .quote:last-of-type
{
    border: none;
    margin: 0;
}
#quotes .quote > div
{
    width: 50%;
}
#quotes .quote div:last-of-type
{
    border: none;
    font-family: 'Raleway';
}
#quotes .quote img
{
    max-width: 35%;
    display: block;
    margin: 0 auto 4%;
}
#quotes .quote p.profile
{
    text-align: justify;
    font-family: 'Quicksand';
}
#quotes .quote div:last-of-type p
{
    width: 80%;
    text-align: center;
    margin: 3% auto;
    font-size: 0.9rem;
}
#mission, #vision
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mission > small, #vision > small
{
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1rem;
}
#mission aside h2, #vision aside h2
{
    margin: 0 auto 1%;
    font-weight: 700;
}
#mission aside p, #vision aside p
{
    max-width: 50%;
    margin: 1% auto 0;
    font-family: 'Raleway';
    font-size: 1.2rem;
    text-align: center;
    font-weight: 700;
}
#vision
{
    background: #024060;
    color: #FFFFFF;
}
#team
{
    padding: 3%;
}
.member
{
    border-bottom: 1px solid;
    padding: 1%;
    font-family: 'Montserrat';
    transition: background-color 0.2s linear, color 0.2s linear;
}
.member:hover
{
    background-color: #FFFFFF;
    color: #024060;
}
.member:last-of-type
{
    border: none;
}
.member .col-md-2
{
    text-align: center;
}
.member .sm
{
    display: none;
}
.member h3
{
    font-family: 'Raleway';
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 1%;
}
.member .socials
{
    margin-bottom: 1%;
}
.member .socials i
{
    font-size: 1.1rem;
    margin-right: 1%;
    color: #CCCCCC;
    transition: color 0.2s linear;
}
.member:hover .socials i
{
    color: #046080;
}
.member .socials i:hover
{
    color: #FFFFFF;
}
.member:hover .socials i:hover
{
    color: #024060;
}
.member .profile
{
    max-width: 5%;
    height: auto;
}
@media screen and (max-width: 767px)
{
    h2
    {
        margin-bottom: 3%;
    }
    .member
    {
        text-align: center;
    }
    .member .col-md-2
    {
        display: none;
    }
    .member .col-md-2.sm
    {
        display: block;
    }
    .member .col-md-2.sm img
    {
        margin: 3% 0;
    }
}