header
{
    min-height: auto;
}
h1
{
    margin: 1% 0;
}
#intro
{
    font-size: 1.5rem;
    width: 60%;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 1%;
}
section#banks
{
    padding: 0;
    min-height: auto;
}
#banks h2
{
    color: #005487;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    width: 100%;
}
.search
{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.search > *
{
    margin: 0 1rem;
    font-size: 1rem;
    font-family: inherit;
    padding: 0.2rem;
    border: none;
    border-bottom: 1px solid;
}
.search select
{
    cursor: pointer;
    padding: 0.2rem 0.2rem 0.2rem 0;
}
.search button
{
    padding: 0.3rem 0.8rem;
    margin-top: 1rem;
    border: 1px solid;
    background-color: transparent;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    display: none;
    /* transition: all 0.2s linear; */
}
.search button.show
{
    display: inline-block;
}
.search button:hover
{
    color: #FFFFFF;
    background-color: #005487;
}
.browse
{
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: justify;
    width: auto;
    position: sticky;
    top: 0;
    z-index: 5;
    width: 90%;
    margin: 0.5rem auto 0;
    background-color: #FFFFFF;
    color: #000000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.browse a
{
    margin: 0 0.5rem;
    color: inherit;
}
.browse a:hover
{
    color: #005487;
}
.bank
{
    position: relative;
    box-sizing: border-box;
    min-height: auto;
    padding: 2%;
    width: 80%;
    margin: 0 auto;
    display: none;
}
.bank.show
{
    display: block;
}
.bank:not(:last-of-type)
{
    border-bottom: 1px solid #000000;
}
.bank > :first-child
{
    margin-top: 0;
}
.bank > :last-child
{
    margin-bottom: 0;
}
.name
{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
}
.location
{
    margin: 0.2rem 0 1rem;
}
.bank i.status
{
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 3rem;
}
.bank[data-status="Active"] i.status
{
    color: #44BF00;
    filter: drop-shadow(0 0 0.3rem #007B00);
}
.bank[data-status="Inactive"] i.status
{
    color: #FF1100;
    filter: drop-shadow(0 0 0.3rem #FF1100);
}
p.filterMessage
{
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
p.filterMessage .filtered
{
    color: #005487;
}
p.filterMessage .noResults
{
    color: #FF1100;
}
@media screen and (max-width: 800px)
{
    .search > *
    {
        width: 40%;
    }
    select#city, select#status
    {
        margin-top: 0.5rem;
    }
}
@media screen and (max-width: 767px)
{
    #intro
    {
        width: 75%;
        font-size: 1.2rem;
        margin-bottom: 3%;
    }
    .bank
    {
        width: 90%;
        padding: 3%;
    }
}
@media screen and (max-width: 550px)
{
    #intro
    {
        width: 90%;
        margin-bottom: 5%;
    }
    .bank
    {
        width: 95%;
        text-align: center;
    }
    .name
    {
        font-size: 1.2rem;
        width: 85%;
        margin: 0 auto;
    }
    .bank i.status
    {
        top: 0;
        right: 0;
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 500px)
{
    .search 
    {
        padding-bottom: 1rem;
    }
    .search > *
    {
        width: 60%;
    }
    .search >*:not(:first-child)
    {
        margin-top: 0.5rem;
    }
    .browse
    {
        display: none;
    }
}
@media screen and (max-width: 450px)
{
    p.filterMessage
    {
        font-size: 1.2rem;
    }
}