header
{
    min-height: auto;
}
aside#intro
{
	background-image: url("./../images/pricing/header.png");
	background-size: cover;
}
h1, #intro h2
{
    color: #FFFFFF;
	background-color: #015193CC;
    margin: 0 auto;
    text-align: left;
	box-sizing: border-box;
}
h1
{
	font-size: 2.2rem;
	padding: 2rem 2rem 1rem;
    text-transform: uppercase;
}
#intro h2
{
    font-size: 1.5rem;
    text-transform: capitalize;
	padding: 0 2rem 2rem;
    font-weight: 600;
}
h1 + p
{
    font-size: 1.2rem;
    margin-top: 0.5rem;
    color: #616161;
}
p.icons
{
    width: 50%;
    margin: 0.5rem auto;
    text-align: center;
    color: #000000;
}
p.icons a
{
    color: inherit;
    background-color: #FFFFFF;
    font-size: 1.4rem;
    margin: 0 1%;
}
#contact
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    min-height: auto;
    margin: 1rem 0;
}
#contact > form
{
    border: 1px solid #666666;
    box-shadow: 0px 10px 10px 0px #0000009E;
    padding: 1rem;
    width: 40%;
	box-sizing: border-box;
}
#contact > form h2
{
    color: #015193;
	width: 65%;
	margin: 0.5rem auto 1rem;
}
#contact > form input, select, textarea
{
    box-shadow: 5px 5px 4px 0px #00000040;
    border-radius: 13px;
    border: 1px solid #015193;
    font-size: 1.1rem;
    padding: 1% 2%;
    width: 65%;
    margin: 1rem auto;
    transition: box-shadow 0.2s linear;
	display: block;
	font-family: "Montserrat";
}
#contact > form input:focus, select:focus, textarea:focus
{
    outline: none;
    box-shadow: 5px 5px 4px 0px #000000AA;
}
#contact > form input:not([type="submit"]), select, textarea
{
    background-color: #FFFFFF;
}
#contact > form input::placeholder, select, textarea
{
    text-transform: capitalize;
    color: #616161;
}
label
{
    display: block;
    margin: 1rem auto;
    padding: 1% 0;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0;
}
label, select
{
    width: 69%;
}
#contact > form select
{
    appearance: none;
    background: url('./svg/chevron-down.svg') #FFFFFF right center no-repeat;
    cursor: pointer;
    margin: 0 auto 1rem;
	color: #000000;
}
#contact > form textarea
{
    margin: 1rem auto;
    height: 10vh;
}
#contact > form input[type="submit"]
{
    display: block;
    margin: 2% auto;
    background-color: #015193;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 2px;
	font-weight: 600;
    cursor: pointer;
    transition: box-shadow 0.1s linear;
    width: auto;
    padding: 1% 4%;
}
#contact > form input[type="submit"]:hover, #contact > form input[type="submit"]:focus
{
    box-shadow: 5px 5px 4px 0px #000000A0;
}
.information
{
    width: 60%;
	box-sizing: border-box;
	padding: 1rem;
}
.information div
{
	margin-bottom: 1rem;
}
.information h3
{
    padding: 0.5rem;
	color: #015193;
    border-bottom: 2px solid #015193; /*#128AF9;*/
    margin: 0 0 1rem auto;
    font-size: 1.2rem;
}
.information a
{
    color: inherit;
    text-decoration: none;
    font-size: 1rem;
    padding: 0 1rem;
	display: inline-block;
	text-align: center;
}
.information a:hover
{
    font-weight: 600;
}
.information i
{
    font-size: 1.5rem;
}
@media screen and (max-width: 991px)
{
    #contact > form input, input, textarea, select
    {
        display: block;
        width: 85%;
        margin: 5% auto;
        padding: 2% 3%;
    }
    select
    {
        width: 89%;
    }
}
@media screen and (max-width: 767px)
{
    #contact > form, .information
    {
        width: 50%;
    }
    #contact > form input, input, textarea, select
    {
        padding: 2%;
    }
    .information
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .information > div
    {
        width: 100%;
    }
	.information i
	{
		font-size: 1.2rem;
	}
	.company a
	{
		display: block;
		text-align: left;
		margin: 0.2rem 0;
	}
}
@media screen and (max-width: 550px)
{
	#contact > form, .information
	{
		width: 80%;
		margin: 0 auto;
	}
	.information, .company a
	{
		text-align: center;
	}
}
@media screen and (max-width: 400px)
{
	#contact > form, .information
	{
		width: 95%;
	}
    #contact > form input, input, textarea, select, #contact > form h2
	{
		width: 100%;
		box-sizing: border-box;
	}
}
@media screen and (max-width: 300px)
{
	.information a
	{
		margin: 0.5rem;
		padding: 0;
	}
}