#intro
{
    height: 85vh;
    padding: 0;
    position: relative;
}
/* .carousel-caption
{
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
}
.carousel-caption h2
{
    font-family: 'Montserrat';
    font-weight: 600;
}
.carousel-caption p
{
    font-family: 'Raleway';
    margin-bottom: 0;
}
.carousel-control-next, .carousel-control-prev
{
    width: 5%;
    font-size: 2rem;
    color: #333333;
}
.carousel-control-next:hover, .carousel-control-prev:hover
{
    color: #000000;
} */
#intro > i
{
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
}
#intro .carousel-slide
{
    height: 100%;
    transition: opacity 0.2s linear;
}
#intro .carousel-slide .carousel-text
{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
    text-align: center;
    padding: 1.2rem 0;
}
#intro .carousel-slide .carousel-text p
{
    margin: 0;
    font-family: 'Raleway';
}
#intro > i.bi-chevron-right
{
    right: 0;
}
#capabilities
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    padding: 2% 0;
    max-height: 100vh;
}
#capabilities > div:first-of-type
{
    margin-bottom: 1%;
}
#capabilities .indicator
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 1.2rem;
}
#capabilities .indicator > *
{
    padding: 0 3%;
    cursor: pointer;
    transition: all 0.2s linear;
}
#capabilities .indicator div.active
{
    background-color: #024060;
    color: #FFFFFF;
}
#capabilities .tabs
{
    width: 70%;
    margin: 0 auto;
    background-color: #024060;
    color: #FFFFFF;
    padding: 2%;
}
#capabilities .tabs .tab
{
    padding: 3%;
}
section:not(#intro) h2
{
    font-family: 'Montserrat';
    margin: 0;
    font-size: 1.8rem;
    font-weight: 700;
    width: 80%;
}
#capabilities .tabs p
{
    font-family: 'Montserrat';
    margin: 5% auto;
    font-size: 1.2rem;
}
#capabilities .tabs a
{
    color: #DDDDDD;
    font-size: 1rem;
    text-decoration: none;
    font-family: 'Raleway';
}
#capabilities .indicator .bi-dot
{
    font-size: 2.5rem;
    color: #001030;
}
#capabilities .indicator .bi-dot.active
{
    color: #024060;
}
section#reasons
{
    padding: 0;
}
section#reasons > h2
{
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
    margin: 2% 0;
}
section#reasons .reason
{
    min-height: 100vh;
    background-position: center;
    color: #FFFFFF;
}
section#reasons .reason .text
{
    padding: 3%;
    padding-right: 5%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
section#reasons .reason p
{
    text-align: center;
    margin: 0;
    font-family: 'Raleway';
    font-size: 1.5rem;
}
section#reasons .reason p.number
{
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Montserrat';
    text-transform: uppercase;
}
section#reasons .reason#banks
{
    background-image: url('https://images.pexels.com/photos/50987/money-card-business-credit-card-50987.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=484&w=700');
}
section#reasons .reason#banks .text, section#reasons .reason#time .text
{
    background-image: -webkit-linear-gradient(left, #000000, rgba(0, 0, 0, 0.3), transparent);
}
.reason#banks p.number, .reason#banks p.data, .reason#time p.number, .reason#time p.data
{
    text-align: left;
}
section#reasons .reason#records
{
    background-image: url('https://images.pexels.com/photos/590037/pexels-photo-590037.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=484&w=700');
}
.reason#records p.number, .reason#records p.data, .reason#views p.number, .reason#views p.data
{
    text-align: right;
}
section#reasons .reason#records .text, section#reasons .reason#views .text
{
    background-image: -webkit-linear-gradient(right, #000000, rgba(0, 0, 0, 0.3), transparent);
}
section#reasons .reason#time
{
    background-image: url('https://images.pexels.com/photos/5386754/pexels-photo-5386754.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=484&w=700');
}
section#reasons .reason#views
{
    background-image: url('https://images.pexels.com/photos/669622/pexels-photo-669622.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=484&w=700');
}
#newsletter
{
    padding: 3%;
    display: flex;
    align-items: center;
    /* background-color: #024060; */
    background-image: url('https://images.pexels.com/photos/4064828/pexels-photo-4064828.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=484&w=700');
    background-position: center;
}
#newsletter aside
{
    width: 80%;
    margin-left: auto;
    background-color: #024060;
    color: #FFFFFF;
    padding: 5%;
}
#newsletter aside h2
{
    font-size: 3rem;
    width: 100%;
}
#newsletter aside p
{
    font-size: 1.5rem;
    font-family: 'Raleway';
}
#newsletter aside a
{
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: #AAAAAA;
    transition: color 0.2s linear;
}
#newsletter aside a:hover
{
    color: #FFFFFF;
}
#newsletter aside a i
{
    font-size: 1rem;
    transition: padding-left 0.2s linear;
}
#newsletter aside a i.active
{
    padding-left: 0.5rem;
}
@media screen and (max-width: 991px)
{
    #capabilities .tabs
    {
        width: 80%;
    }
    #newsletter aside
    {
        width: 90%;
    }
    #newsletter aside h2
    {
        font-size: 2.5rem;
    }
    #reasons .row .reason:nth-of-type(2n)
    {
        border: none;
    }
}
@media screen and (max-width: 800px)
{
    #capabilities .indicator
    {
        margin: 1% 0 3%;
        width: 95%;
    }
    #capabilities .tabs
    {
        width: 90%;
    }
}
@media screen and (max-width: 767px)
{
    section#reasons .row .reason:nth-of-type(n)
    {
        border: none;
        border-bottom: 1px solid;
    }
    #reasons .row .reason:last-of-type
    {
        border: none;
    }
}
@media screen and (max-width: 700px)
{
    section#reasons .reason#banks .text, section#reasons .reason#time .text, section#reasons .reason#records .text, section#reasons .reason#views .text
    {
        background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3), transparent);
    }
    .reason#banks p.number, .reason#banks p.data, .reason#time p.number, .reason#time p.data, .reason#records p.number, .reason#records p.data, .reason#views p.number, .reason#views p.data
    {
        text-align: center;
    }
    #newsletter aside
    {
        width: 100%;
    }
    #newsletter aside h2
    {
        font-size: 2.2rem;
    }
    #newsletter aside p
    {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 650px)
{
    #capabilities .indicator, #capabilities .tabs
    {
        width: 98%;
    }
    #capabilities .tabs .tab
    {
        padding: 5% 3%;
    }
    #capabilities .tabs h2
    {
        font-size: 1.6rem;
        width: 85%;
    }
    #capabilities .tabs p
    {
        font-size: 1.1rem;
        margin: 10% 0;
    }
    #capabilities .indicator .bi-dot
    {
        font-size: 2rem;
    }
    section#reasons .row .reason
    {
        width: 60%;
        margin: 0 auto 1%;
    }
}
@media screen and (max-width: 550px)
{
    #intro h2
    {
        font-size: 1.5rem;
    }
    #intro > i
    {
        font-size: 1rem;
    }
    #capabilities .indicator
    {
        width: 100%;
        flex-direction: column;
    }
    #capabilities .indicator:first-of-type div i
    {
        display: none;
    }
    #capabilities .tabs h2
    {
        font-size: 1.5rem;
        width: 90%;
    }
    #capabilities .tabs p
    {
        font-size: 1rem;
    }
    #capabilities .tabs a
    {
        font-size: 0.9rem;
    }
    #capabilities .indicator .bi-dot
    {
        font-size: 1.7rem;
    }
    section#reasons .row .reason
    {
        width: 60%;
        margin: 0 auto 1%;
    }
    section#reasons .row .reason p.number
    {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 500px)
{
    section#reasons > h2
    {
        font-size: 2rem;
        margin: 5% 0;
    }
}
@media screen and (max-width: 450px)
{
    #capabilities .tabs p
    {
        margin: 15% 0;
    }
    #newsletter aside h2
    {
        font-size: 1.8rem;
    }
    #newsletter aside p
    {
        font-size: 1rem;
    }
    #newsletter aside a
    {
        font-size: 0.9rem;
    }
    #newsletter aside a i
    {
        font-size: 0.85rem;
    }
}