#intro
{
    height: 100vh;
    padding: 0;
    position: relative;
}
/* .carousel-caption
{
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
}
.carousel-caption h2
{
    font-family: 'Montserrat';
    font-weight: 600;
}
.carousel-caption p
{
    font-family: 'Raleway';
    margin-bottom: 0;
}
.carousel-control-next, .carousel-control-prev
{
    width: 5%;
    font-size: 2rem;
    color: #333333;
}
.carousel-control-next:hover, .carousel-control-prev:hover
{
    color: #000000;
} */
#intro > i
{
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
}
#intro .carousel-slide
{
    height: 100%;
    transition: opacity 0.2s linear;
}
#intro .carousel-slide .carousel-text
{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
    text-align: center;
    padding: 1.2rem 0;
}
#intro .carousel-slide .carousel-text p
{
    margin: 0;
    font-family: 'Raleway';
}
#intro > i.bi-chevron-right
{
    right: 0;
}
#capabilities
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    padding: 2% 0;
    max-height: 100vh;
}
#capabilities > div:first-of-type
{
    margin-bottom: 1%;
}
#capabilities .indicator
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 1.2rem;
}
#capabilities .indicator > *
{
    padding: 0 3%;
    cursor: pointer;
    transition: all 0.2s linear;
}
#capabilities .indicator div.active
{
    background-color: #024060;
    color: #FFFFFF;
}
#capabilities .tabs
{
    width: 70%;
    margin: 0 auto;
    background-color: #024060;
    color: #FFFFFF;
    padding: 2%;
}
#capabilities .tabs .tab
{
    padding: 3%;
}
section:not(#intro) h2
{
    font-family: 'Montserrat';
    margin: 0;
    font-size: 1.8rem;
    font-weight: 700;
    width: 80%;
}
#capabilities .tabs p
{
    font-family: 'Montserrat';
    margin: 5% auto;
    font-size: 1.2rem;
}
#capabilities .tabs a
{
    color: #DDDDDD;
    font-size: 1rem;
    text-decoration: none;
    font-family: 'Raleway';
}
#capabilities .indicator .bi-dot
{
    font-size: 2.5rem;
    color: #001030;
}
#capabilities .indicator .bi-dot.active
{
    color: #024060;
}
#newsletter
{
    padding: 3%;
    display: flex;
    align-items: center;
    background-color: #024060;
}
#newsletter aside
{
    width: 80%;
    margin-left: auto;
    background-color: #FFFFFF;
    padding: 5%;
}
#newsletter aside h2
{
    font-size: 3rem;
    width: 100%;
}
#newsletter aside p
{
    font-size: 1.5rem;
    font-family: 'Raleway';
}
#newsletter aside a
{
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: #555555;
    transition: color 0.2s linear;
}
#newsletter aside a:hover
{
    color: #000000;
}
#newsletter aside a i
{
    font-size: 0.9rem;
    transition: padding-left 0.2s linear;
}
#newsletter aside a i.active
{
    padding-left: 0.5rem;
}
section#insights
{
    padding: 2% 5%;
}
section#insights > h2
{
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
    margin: 2% 0;
}
section#insights article
{
    font-family: 'Montserrat';
    padding: 3%;
    border-bottom: 1px solid;
    transition: all 0.3s linear;
}
section#insights article.active
{
    background-color: #024060;
    color: #FFFFFF;
}
section#insights article:last-of-type
{
    border: none;
}
section#insights article h3
{
    font-family: 'Raleway';
    font-weight: 700;
    margin-bottom: 2%;
}
section#insights article p
{
    margin-bottom: 0;
    font-size: 1.2rem;
}
section#insights article a
{
    color: #555555;
}
section#insights article.active a
{
    color: #BBBBBB;
}
section#insights > a
{
    display: block;
    width: 30%;
    text-align: center;
    margin: 1% auto;
    padding: 1% 2%;
    text-decoration: none;
    font-family: 'Montserrat';
    color: #000000;
    border: 1px solid;
    transition: all 0.2s linear;
    font-weight: 700;
}
section#insights > a:hover
{
    background-color: #024060;
    color: #FFFFFF;
    font-weight: 400;
}
@media screen and (max-width: 991px)
{
    #capabilities .tabs
    {
        width: 80%;
    }
    #newsletter aside
    {
        width: 90%;
    }
    #newsletter aside h2
    {
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 800px)
{
    #capabilities .indicator
    {
        margin: 1% 0 3%;
        width: 95%;
    }
    #capabilities .tabs
    {
        width: 90%;
    }
}
@media screen and (max-width: 700px)
{
    #newsletter aside
    {
        width: 100%;
    }
    #newsletter aside h2
    {
        font-size: 2.2rem;
    }
    #newsletter aside p
    {
        font-size: 1.2rem;
    }
    #newsletter aside a
    {
        font-size: 0.9rem;
    }
    #newsletter aside a i
    {
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 650px)
{
    #capabilities .indicator, #capabilities .tabs
    {
        width: 98%;
    }
    #capabilities .tabs .tab
    {
        padding: 5% 3%;
    }
    #capabilities .tabs h2
    {
        font-size: 1.6rem;
        width: 85%;
    }
    #capabilities .tabs p
    {
        font-size: 1.1rem;
        margin: 10% 0;
    }
    #capabilities .indicator .bi-dot
    {
        font-size: 2rem;
    }
    section#insights
    {
        padding: 2%;
    }
}
@media screen and (max-width: 550px)
{
    #intro h2
    {
        font-size: 1.5rem;
    }
    #intro > i
    {
        font-size: 1rem;
    }
    #capabilities .indicator
    {
        width: 100%;
        flex-direction: column;
    }
    #capabilities .indicator:first-of-type div i
    {
        display: none;
    }
    #capabilities .tabs h2
    {
        font-size: 1.5rem;
        width: 90%;
    }
    #capabilities .tabs p
    {
        font-size: 1rem;
    }
    #capabilities .tabs a
    {
        font-size: 0.9rem;
    }
    #capabilities .indicator .bi-dot
    {
        font-size: 1.7rem;
    }
}
@media screen and (max-width: 500px)
{
    section#insights article
    {
        font-size: 0.9rem;
        padding: 5% 2%;
    }
    section#insights article h3
    {
        margin-bottom: 5%;
        font-size: 1.3rem;
    }
    section#insights article p
    {
        font-size: 1.1rem;
    }
    section#insights > h2
    {
        font-size: 2rem;
        margin: 5% 0;
    }
}
@media screen and (max-width: 450px)
{
    #capabilities .tabs p
    {
        margin: 15% 0;
    }
    #newsletter aside h2
    {
        font-size: 1.8rem;
    }
    #newsletter aside p
    {
        font-size: 1rem;
    }
    #newsletter aside a
    {
        font-size: 0.8rem;
    }
    #newsletter aside a i
    {
        font-size: 0.7rem;
    }
}
@media screen and (max-width: 400px)
{
    #newsletter aside a
    {
        font-size: 0.7rem;
    }
}