header
{
	min-height: auto;
}
main * 
{
	font-family: 'Montserrat';
}
main section
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	min-height: auto;
	padding: 0;
}
#intro
{
	background-image: url('./../images/index/intro.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	height: auto;
}
#intro aside
{
	background-color: #003071D1;
	color: #FFFFFF;
	padding: 2rem;
	height: 100vh;
	width: 50%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}
h1
{
	color: #FFFFFF;
	text-align: left;
	margin: 0;
	font-size: 2rem;
	text-transform: none;

}
#intro aside:first-of-type p
{
	margin: 1.5rem 0;
	font-size: 1.2rem;
}
main button
{
	font-size: 1rem;
	border-radius: 5px;
	border: none;
	background-color: #015193;
	color: #FFFFFF;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.1s linear;
}
button a
{
	color: inherit;
	text-decoration: none;
}
#intro button
{
	padding: 0.5rem 0.8rem;
	box-shadow: 0 0 5px #FFFFFF;
	color: #015193;
	background-color: #FFFFFF;
	font-weight: 600;
}
button:focus
{
	outline: none;
}
#intro button:hover, #intro button:focus
{
	box-shadow: 2px 2px 5px #FFFFFF;
}
img
{
	max-width: 100%;
}
#intro img
{
	display: none;
}
#intro img.active
{
	display: block;
	border-radius: 10px;
	margin: 0 auto;
}
#numbers
{
	background-image: url('./../images/index/numbers.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}
#numbers > *
{
	background-color: #003071D1;
	color: #FFFFFF;
}
h2
{
	width: 100%;
	margin: 0;
	font-weight: 500;
}
#numbers h2
{
	text-align: center;
	padding: 2.5rem 1rem 0.5rem;
}
#numbers aside
{
	width: calc(100%/3);
	box-sizing: border-box;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.8rem;
	padding: 0 1rem;
	min-height: 30vh;
	height: auto;
	font-weight: 600;
	text-transform: capitalize;
}
#offer aside:first-of-type
{
	width: 30%;
	padding: 2.5rem;
	box-sizing: border-box;
	border-right: 1px solid #AAAAAA;
	text-align: center;
	background-color: #FFFFFF;
}
#offer h2
{
	color: #015193;
	font-weight: 600;
	text-transform: uppercase;
}
#offer p
{
	line-height: 1.5;
	font-weight: 500;
	text-align: justify;
}
#offer button
{
	padding: 0.7rem 1.5rem;
	box-shadow: 0 0 5px #000000;
}
#offer button:hover, #offer button:focus
{
	box-shadow: 2px 2px 5px #000000;
}
#offer aside.video
{
	width: 70%;
}
video
{
	max-width: 80%;
	display: block;
	margin: 0 auto;
	border-radius: 5px;
}
video:focus
{
	outline: none;
}
#reports
{
	border-top: 1px solid #AAAAAA;
}
#reports h2
{
	margin: 2rem;
	padding: 0.5rem 1.5rem;
	color: #015193;
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
}
aside#report
{
	border-bottom: 1px solid #AAAAAA;
	padding: 1rem 2rem;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
aside#report:nth-of-type(2n+1)
{
	flex-direction: row-reverse;
}
aside#report:nth-of-type(2n+1) div:first-of-type
{
	text-align: right;
}
aside#report:nth-of-type(2n) div:last-of-type
{
	text-align: right;
}
#report div
{
	width: 50%;
	padding: 1rem 2rem;
	box-sizing: border-box;
}
#report div:last-of-type
{
	text-align: left;
}
#report h3
{
	text-transform: capitalize;
	color: #015193;
	margin: 0;
	font-size: 1.1rem;
}
#report p
{
	font-size: 1.5rem;
	font-weight: 500;
}
#report button
{
	padding: 0.5rem 1rem;
	box-shadow: 0 0 5px #000000;
}
#report button:hover, #report button:focus
{
	box-shadow: 2px 2px 5px #000000;
}
#report img
{
	max-width: 90%;
	margin: 0;
	border-radius: 10px;
	box-shadow: 0 0 5px #000000;
}
#insights h2
{
	color: #015193;
	font-weight: 600;
	text-align: center;
	margin: 1rem auto;
}
#insights .insight
{
	width: calc(100%/4.5);
	box-sizing: border-box;
	border: 1px solid #AAAAAA;
	box-shadow: 0 2px 2px #666666;
	border-radius: 5px;
	margin: 1rem;
	text-decoration: none;
	transition: box-shadow 0.1s linear;
}
#insights .insight:focus, #insights .insight:hover
{
	box-shadow: 2px 2px 5px #000000;
	outline: none;
}
.insight img
{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.insight .info
{
	margin: 0 auto 3rem;
	padding: 0.5rem 1rem;
	color: #777777;
	font-weight: 600;
	font-size: 0.9rem;
}
.insight .info span:first-of-type
{
	padding-right: 0.5rem;
	margin-right: 0.5rem;
	border-right: 0.15rem solid #777777;
	display: inline-block;
	color: #015193;
}
.insight .title
{
	font-size: 1.2rem;
	font-weight: 700;
	padding: 0 1rem;
	color: #000000;
}
.insight button
{
	display: block;
	margin: 1rem auto;
	padding: 0.5rem 1.5rem;
	text-transform: uppercase;
	font-size: 0.9rem;
}
.insight button:hover, .insight button:focus
{
	box-shadow: 0 0 10px 1px #015193;
}
#newsletter
{
	display: none;
}
@media screen and (max-width: 1100px)
{
	#offer aside:first-of-type, #offer aside.video
	{
		width: 100%;
	}
	#offer aside:first-of-type
	{
		border-right: none;
	}
	#offer p
	{
		width: 70%;
		margin: 1rem auto;
	}
	video
	{
		width: 60%;
		margin-bottom: 2rem;
	}
	#reports h2
	{
		font-size: 1.7rem;
	}
	aside#report
	{
		padding: 2rem;
	}
	#report div
	{
		padding: 1rem;
	}
	#report p
	{
		font-size: 1.3rem;
	}
	#insights
	{
		justify-content: space-evenly;
		padding: 0 0 1rem;
	}
	#insights .insight
	{
		width: 35%;
	}
}
@media screen and (max-width: 991px)
{
	#intro aside, #report div
	{
		width: 100%;
	}
	#intro aside
	{
		min-height: 50vh;
		max-height: 75vh;
		height: auto;
	}
	#intro aside, h1
	{
		align-items: center;
		text-align: center;
	}
	#intro aside:first-of-type p
	{
		width: 70%;
		font-weight: 500;
	}
	#intro img
	{
		max-width: 70%;
	}
	#numbers h2
	{
		padding: 2rem 2rem 0.5rem;
	}
	#report div, #report div:last-of-type, aside#report:nth-of-type(2n+1) div:first-of-type, aside#report:nth-of-type(2n) div:last-of-type
	{
		text-align: center;
	}
	#report h3
	{
		font-size: 1.2rem;
	}
	#report p
	{
		width: 50%;
		margin: 1rem auto;
		font-size: 1.5rem;
	}
	#report img
	{
		max-width: 50%;
	}
}
@media screen and (max-width: 767px)
{
	#numbers aside
	{
		font-size: 1.5rem;
		text-align: center;
		width: 100%;
		padding: 0 1rem;
		min-height: 20vh;
	}
	#report p
	{
		width: 70%;
	}
	#report img
	{
		max-width: 70%;
	}
	#insights .insight
	{
		width: 45%;
	}
}
@media screen and (max-width: 545px)
{
	h1
	{
		font-size: 1.7rem;
	}
	#intro aside
	{
		padding: 1rem;
	}
	#intro aside:first-of-type p
	{
		width: 90%;
		font-size: 1.1rem;
	}
	#intro img
	{
		max-width: 90%;
	}
	#numbers h2
	{
		padding: 2rem 0.5rem 0.5rem;
	}
	#numbers aside
	{
		width: 100%;
		padding: 0 1rem;
	}
	#offer aside:first-of-type
	{
		padding: 2rem 1rem 1rem;
	}
	#offer p, video
	{
		width: 90%;
	}
	video
	{
		margin: 1rem auto;
	}
	#reports h2
	{
		font-size: 1.5rem;
		margin: 1rem auto 0;
	}
	aside#report
	{
		padding: 1rem;
	}
	#report h3
	{
		font-size: 1rem;
	}
	#report p
	{
		width: 90%;
		font-size: 1.3rem;
	}
	#report img
	{
		max-width: 90%;
	}
	#insights .insight
	{
		width: 70%;
	}
}
@media screen and (max-width: 400px)
{
	#intro aside:first-of-type
	{
		padding: 2rem 1rem 1rem;
		min-height: 55vh;
		height: auto;
	}
	#intro aside:first-of-type p
	{
		font-size: 1rem;
	}
	#intro aside:last-of-type
	{
		min-height: auto;
		height: 45vh;
	}
	#intro img
	{
		max-width: 100%;
	}
	#offer p, video
	{
		width: 100%;
	}
	video
	{
		max-width: 90%;
	}
	#reports h2
	{
		font-size: 1.2rem;
		font-weight: 700;
	}
	#report div
	{
		padding: 1rem 0;
	}
	#report p
	{
		width: 100%;
		font-size: 1.2rem;
		font-weight: 600;
	}
	#report img
	{
		max-width: 100%;
	}
	#insights .insight
	{
		width: 90%;
	}
}
/* header
{
    min-height: auto;
}
h1
{
    text-align: left;
    margin: 1% 0 0 5%;
    color: #212121;
}
h1 + h2
{
    text-transform: uppercase;
	text-align: left;
    font-weight: 400;
    color: #616161;
    font-size: 1.5rem;
    margin: 0 0 2% 5%;
}
#latest
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
#latest .post
{
    width: calc(100%/3.8);
    padding: 1rem;
    margin: 1%;
    cursor: pointer;
    box-shadow: 5px 5px 1rem #747474c9;
    border-radius: 15px;
}
#latest img
{
    width: 100%;
    height: 40vh;
    object-fit: cover;
}
#latest p.title
{
    font-weight: 700;
    margin: 5% 0 2%;
    font-size: 1.2rem;
    text-transform: uppercase;
}
#latest .post > a
{
    text-decoration: none;
    color: #015193;
    font-weight: 700;
}
hr
{
    width: 80%;
    border: none;
    border-bottom: 1px solid #128AF9;
}
h2
{
    margin: 2% 5% 0;
    text-transform: uppercase;
	text-align: center;
}
main h3
{
    margin: 0 5%;
    font-size: 1.5rem;
    color: #303030;
    text-transform: uppercase;
    font-weight: 600;
}
#intro
{
    width: 85%;
    margin: 0 auto;
    padding: 2%;
    font-size: 1.2rem;
    text-align: justify;
}
#intro p:first-of-type
{
    margin-top: 0;
}
#intro p:last-of-type
{
    margin-bottom: 0;
}
#dashboards
{
    width: 70%;
    margin: 0 auto;
}
#dashboards img
{
    box-sizing: border-box;
    max-width: 80%;
    /* padding: 5% 2%; 
	display: none;
}
#dashboards img.active
{
	display: block;
	margin: 2rem auto 0;
	height: 70vh;
	object-fit: contain;
}
#dashboards .indicator
{
	text-align: center;
	margin: 0 auto 1rem;
	font-size: 2.5rem;
	color: #015193;
}
#dashboards .indicator i
{
	opacity: 0.7;
}
#dashboards .indicator i.active
{
	opacity: 1;
}
#dashboards a
{
    display: block;
    margin: 0 auto 2%;
    width: 15%;
    text-align: center;
    text-decoration: none;
	font-size: 1.2rem;
    padding: 0.8rem 1.2rem;
    background-color: #015193;
    border-radius: 10px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 600;
}
h2:nth-of-type(4)
{
    text-align: center;
}
#about
{
    padding: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
#about p
{
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.5;
    width: 50%;
    font-weight: 600;
}
#about svg
{
    max-width: 15%;
}
#featured
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
}
#featured #news
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
#news > .post
{
    width: calc(100%/3.8);
    height: 35vh;
    background-color: #F5F5F5;
    position: relative;
    cursor: pointer;
}
#news img
{
    width: 30%;
    height: 100%;
    object-fit: cover;
    float: left;
}
#news p.title
{
    font-weight: 700;
    position: absolute;
    top: 5%;
    left: 32%;
    right: 2%;
    margin: 0;
    color: #015193;
    font-size: 1.2rem;
    text-transform: uppercase;
}
#news .post > a
{
    position: absolute;
    left: 32%;
    right: 2%;
    bottom: 2%;
    color: #015193;
    text-decoration: none;
    transition: all 0.2s linear;
}
#news .post:hover > a
{
    font-weight: 700;
}
@media screen and (max-width: 991px)
{
    #latest .post
    {
        width: calc(100%/3);
    }
    #dashboards a
    {
        width: 25%;
    }
    #about p
    {
        line-height: 1.5;
    }
    #news > .post
    {
        width: calc(100%/3.2);
    }
}
@media screen and (max-width: 767px)
{
    h1, h1 + h2, main h3
    {
        text-align: center;
        margin: 0 auto;
    }
    h2
    {
        text-align: center;
        margin: 3% 0 0;
    }
    main h3
    {
        font-size: 1.3rem;
        margin: 1% 5%;
    }
    #latest .post
    {
        width: calc(100%/2);
    }
    #intro
    {
        font-size: 1.1rem;
    }
    #dashboards
    {
        width: 80%;
    }
    #about
    {
        margin: 1%;
    }
    #about
    {
        flex-direction: column-reverse;
        padding: 2% 1%;
    }
    #about p
    {
        margin: 1% auto;
        width: 80%;
        text-align: center;
        font-size: 1.1rem;
    }
    #about svg
    {
        max-width: 20%;
    }
    #featured
    {
        flex-direction: column;
    }
    #featured #news
    {
        width: 100%;
        margin: 1% 0;
    }
    #news .post
    {
        width: 60%;
        margin: 1%;
    }
}
@media screen and (max-width: 550px)
{
    #latest .post
    {
        width: calc(100%/1.3);
        margin: 2%;
    }
    hr
    {
        width: 90%;
    }
    h2
    {
        width: 90%;
        margin: 5% auto 3%;
    }
    main h3
    {
        margin: 3% 5%;
    }
    #intro, #about p
    {
        width: 90%;
        font-size: 1rem;
    }
    #dashboards
    {
        width: 90%;
    }
    #dashboards a
    {
        width: 35%;
    }
    #about, #news .post
    {
        width: 80%;
    }
    #about
    {
        margin: 2% auto 5%;
        padding: 5% 1%;
    }
}
@media screen and (max-width: 400px)
{
    h1
    {
        margin-top: 5%;
    }
    h1 + h2
    {
        margin-bottom: 3%;
    }
    #latest .post
    {
        width: 90%;
    }
    main h3
    {
        margin: 5%;
    }
    #dashboards
    {
        width: 95%;
    }
    #dashboards a
    {
        width: 45%;
    }
    #about, #news .post
    {
        width: 90%;
    }
} */
