header
{
    min-height: auto;
}
h1
{
    margin-bottom: 1%;
}
h1 + img
{
    display: block;
    margin: 1% auto 3%;
}
#latest
{
    box-sizing: border-box;
    width: 100%;
    padding: 2% 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#latest img
{
    max-width: 45%;
    margin-right: 1%;
    border-radius: 10px;
    box-shadow: 0px 20px 20px 0px #00000040;
}
#latest > div
{
    max-width: 50%;
}
p.title
{
    font-weight: 700;
    font-size: 1.2rem;
    color: inherit;
    margin-bottom: 0;
}
#latest p.title
{
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: 0;
}
p.intro
{
    line-height: 1.8;
}
#latest .intro
{
    margin-bottom: 0;
}
p.date
{
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 5%;
}
#latest .date
{
    margin: 3% 0 5%;
}
#latest a, .articles .post a
{
    text-decoration: none;
    color: #FFFFFF;
    background: #015193;
    padding: 0.5rem 3%;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: 600;
}
main section
{
    padding: 2%;
    min-height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
h2
{
    text-transform: uppercase;
    /* margin: 2%; */
    padding: 0.5rem;
    color: #005487;
    border-bottom: 1px solid;
    width: 100%;
}
.post
{
    cursor: pointer;
}
#featured .post
{
    width: calc(100%/3.5);
}
#featured .post, #business .post, #banks .post
{
    box-shadow: 0px 25px 50px 0px #00000040;
    padding: 1% 1% 2%;
}
.post img
{
    width: 100%;
    height: 30vh;
    object-fit: cover;
}
.post a
{
    color: #000000;
    text-align: center;
}
section#last
{
    float: right;
    width: 35%;
    flex-direction: column;
}
#last .post
{
    padding: 2%;
    width: 100%;
}
#last .post:not(:last-of-type)
{
    margin-bottom: 2%;
}
#last img
{
    float: left;
    max-width: 45%;
    margin-right: 5%;
    max-height: 25vh;
    object-fit: cover;
}
#last p.title
{
    text-align: left;
    margin: 0;
}
#business .post, #banks .post
{
    width: calc(100%/2.2);
    padding-bottom: 3%;
}
#categories h2
{
    margin-bottom: 1%;
}
section#categories h2 button
{
    border: 1px solid;
    border-radius: 15px;
    color: #024060;
    background-color: #FFFFFF;
    margin-right: 0.5rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
}
section#categories h2 button.active
{
    background: #024060;
    color: #FFFFFF;
}
section#categories h2 button:last-of-type
{
    margin-right: 0;
}
.articles
{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.articles .post
{
    width: calc(100%/3.7);
    padding: 1% 1% 3%;
    border: 1px solid #B9B8B8;
    transition: all 0.2s linear;
    min-height: 85vh;
    margin: 2%;
    cursor: pointer;
    position: relative;
}
.articles .post:hover
{
    box-shadow: 10px 10px 10px 0px #00000040;
}
.articles .post > a
{
    display: block;
    margin: 1% auto;
    width: 50%;
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
}
@media screen and (max-width: 900px)
{
    section#last
    {
        float: left;
        width: 96%;
        flex-direction: row;
    }
    h2
    {
        margin-top: 0;
    }
    #last .post
    {
        width: calc(100%/2.2);
        box-shadow: 10px 10px 10px 0px #00000040;
    }
    #categories
    {
        margin-top: 2%;
    }
}
@media screen and (max-width: 850px)
{
    .articles .intro
    {
        line-height: 1.5;
    }
    .articles .post > a
    {
        width: 75%;
    }
}
@media screen and (max-width: 767px)
{
    #latest
    {
        flex-direction: column;
        text-align: center;
    }
    #latest img
    {
        margin: 0 0 5%;
        max-width: 60%;
    }
    #latest > div
    {
        max-width: 80%;
    }
    #featured, #last
    {
        justify-content: space-around;
    }
    #featured .post
    {
        width: calc(100%/2.2);
        margin: 1% 1% 2%;
    }
    #last .post
    {
        width: calc(100%/1.5);
    }
    #last .post:not(:last-of-type)
    {
        margin-bottom: 5%;
    }
    section#categories h2
    {
        text-align: center;
    }
    section#categories h2 button
    {
        margin: 1%;
    }
    .articles .post
    {
        width: calc(100%/2.5);
        padding: 2%;
    }
}
@media screen and (max-width: 600px)
{
    #latest img
    {
        max-width: 80%;
    }
    #latest > div
    {
        max-width: 100%;
    }
    h2
    {
        text-align: center;
    }
    #featured .post
    {
        margin: 1% 1% 2%;
    }
    #featured .post, #last .post, #business .post, #banks .post, .articles .post
    {
        width: calc(100%/1.2);
    }
    #business, #banks, .articles
    {
        justify-content: space-around;
    }
    #business .post:first-of-type, #banks .post:first-of-type
    {
        margin-bottom: 5%;
    }
    #last .post:not(:last-of-type)
    {
        margin-bottom: 5%;
    }
}
@media screen and (max-width: 450px)
{
    #featured .post, #last .post, #business .post, #banks .post, .articles .post
    {
        width: 100%;
    }
    section#categories h2 button
    {
        font-size: 0.9rem;
    }
}
/*
@media screen and (max-width: 991px)
{
    section a
    {
        width: 35%;
    }
}
@media screen and (max-width: 700px)
{
    section a
    {
        width: 45%;
    }
    h3
    {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 550px)
{
    section a
    {
        width: 70%;
        margin: 2%;
    }
}
@media screen and (max-width: 450px)
{
    section a
    {
        width: 80%;
    }
}
@media screen and (max-width: 400px)
{
    section a
    {
        width: 90%;
    }
}
@media screen and (max-width: 350px)
{
    section a
    {
        width: 100%;
    }
} */