header
{
    min-height: auto;
}
main
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
h1
{
    width: 100%;
    text-align: center;
    margin-top: 2%;
}
main a
{
    width: 20%;
    border: 1px solid;
    margin: 2% 1%;
    cursor: pointer;
    transition: all 0.2s linear;
    box-shadow: 0 0 1.5rem #777777;
    border-radius: 10px;
    text-decoration: none;
    color: #024060;
    transition: box-shadow 0.2s linear;
    height: 35vh;
    position: relative;
}
main a:hover
{
    color: #024060;
    box-shadow: 0 0 1.5rem #000000;
}
main article.post img
{
    max-width: 100%;
    margin-bottom: 5%;
    height: 20vh;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
h3
{
    font-family: 'Montserrat';
    font-weight: 600;
}
.post .date
{
    font-family: 'Raleway';
    font-size: 0.9rem;
    position: absolute;
    bottom: 3%;
}
h3, .post .date
{
    margin: 0 5%;
}
@media screen and (max-width: 991px)
{
    main a
    {
        width: 30%;
    }
}
@media screen and (max-width: 700px)
{
    main a
    {
        width: 40%;
    }
    h3
    {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 550px)
{
    main a
    {
        width: 50%;
    }
}
@media screen and (max-width: 400px)
{
    main a
    {
        width: 70%;
    }
}