header
{
    min-height: auto;
}
article
{
    width: 60%;
    margin: 0 auto;
    padding: 2% 0;
}
h1
{
    font-weight: 600;
    font-size: 2.5rem;
    margin: 1% auto 0;
}
img
{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 2% auto;
}
.date, .topics
{
    margin: 0;
    font-family: 'Raleway';
    font-size: 1rem;
    opacity: 0.8;
}
article main
{
    margin: 2% auto;
    font-size: 1.3rem;
    font-family: 'Montserrat';
}
h2
{
    margin: 5% 0;
}
@media screen and (max-width: 991px)
{
    article
    {
        width: 75%;
    }
}
@media screen and (max-width: 767px)
{
    article
    {
        text-align: justify;
    }
    h1
    {
        font-size: 2rem;
    }
    article main
    {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 550px)
{
    article
    {
        width: 90%;
    }
    h1
    {
        font-size: 1.8rem;
    }
    .date, .topics
    {
        font-size: 0.9rem;
    }
    article main
    {
        font-size: 1.1rem;
    }
}