header
{
    min-height: auto;
}
progress
{
    width: 100%;
    border-radius: 0;
    position: sticky;
    top: 0;
    height: 10px;
    z-index: 2;
}
progress::-webkit-progress-bar
{
    background-color: #FFFFFF;
}
progress::-webkit-progress-value
{
    background-color: #1DA1F2;
}
article
{
    padding: 2% 0;
}
h1
{
    font-weight: 600;
    font-size: 2.5rem;
    margin: 1% auto 2%;
    width: 90%;
}
main img
{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 2% auto 1%;
}
.date, .author
{
    margin: 0.2rem auto 0;
    font-size: 1rem;
    opacity: 0.9;
    text-transform: uppercase;
    width: 70%;
}
#share
{
    width: 100%;
    text-align: center;
    margin: 3% auto;
}
#share a
{
    text-decoration: none;
    color: #FFFFFF;
    padding: 0.5rem 8%;
    margin: 0 2%;
    font-size: 1.2rem;
}
#share a#linkedin
{
    background-color: #2867B2;
}
#share a#facebook
{
    background-color: #1877F2;
}
#share a#twitter
{
    background-color: #1DA1F2;
}
article .body
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}
article main
{
    padding: 0 2% 0 1%;
    width: 55%;
    font-size: 1.3rem;
}
article #latest
{
    width: 35%;
    padding: 0 1%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
h2
{
    width: 100%;
    margin: 5% 0 2%;
}
main h3
{
    margin: 0;
    color: #005487;
    width: 100%;
    text-transform: uppercase;
    border-bottom: 1px solid;
    font-size: 1.5rem;
    padding: 1rem 0.2rem;
}
.post
{
    cursor: pointer;
}
#latest .post
{
    width: 100%;
}
#latest .post img
{
    float: left;
    width: 45%;
    margin-right: 5%;
    max-height: 25vh;
    object-fit: cover;
}
#latest a
{
    max-width: 50%;
}
p.title
{
    font-weight: 700;
    font-size: 1.2rem;
    color: #000000;
}
#latest p.title
{
    text-decoration: underline solid;
}
#related
{
    padding: 0 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
#related h2
{
    margin-bottom: 0;
}
#related .post
{
    margin: 2% 0;
    width: calc(100%/3.5);
    padding: 1%;
    text-align: center;
    border: 1px solid #B9B8B8;
    transition: all 0.2s linear;
}
#related .post:hover
{
    box-shadow: 10px 10px 10px 0px #00000040;
}
#related img
{
    margin: 0;
}
#related .post > a
{
    text-decoration: none;
    color: #FFFFFF;
    background: #015193;
    padding: 0.5rem 3%;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: 600;
    display: block;
    margin: 1% auto;
    width: 50%;
}
@media screen and (max-width: 991px)
{
    article h1 + img
    {
        max-width: 75%;
    }
    article main
    {
        margin: 0;
        padding: 0 2%;
        width: 75%;
        text-align: justify;
    }
    article #latest
    {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    #latest .post
    {
        width: calc(100%/3.5);
    }
    #latest .post img
    {
        width: 80%;
        margin: 0 10% 5%;
        float: top;
    }
    #related .post
    {
        width: calc(100%/2.5);
    }
}
@media screen and (max-width: 767px)
{
    h1
    {
        font-size: 2rem;
    }
    article h1 + img
    {
        max-width: 85%;
    }
    #share a
    {
        padding: 0.5rem 10%;
    }
    article main
    {
        font-size: 1.2rem;
        width: 85%;
    }
    main h3
    {
        text-align: center;
    }
    #latest .post
    {
        width: calc(100%/1.5);
        padding: 1%;
        text-align: center;
        margin-top: 3%;
    }
    #related .post
    {
        width: calc(100%/1.5);
        padding: 3%;
    }
}
@media screen and (max-width: 550px)
{
    h1
    {
        font-size: 1.8rem;
    }
    article h1 + img
    {
        max-width: 95%;
    }
    .date, .topics
    {
        font-size: 0.9rem;
    }
    #share a#linkedin, #share a#facebook, #share a#twitter
    {
        background-color: #FFFFFF;
    }
    #share a#linkedin
    {
        color: #2867B2;
    }
    #share a#facebook
    {
        color: #1877F2;
    }
    #share a#twitter
    {
        color: #1DA1F2;
    }
    article main
    {
        font-size: 1.1rem;
        width: 95%;
    }
    #latest .post, #related .post
    {
        width: 80%;
    }
}