html
{
    scroll-behavior: smooth;
}
body
{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}
header
{
    min-height: 100vh;
}
nav.navbar
{
    padding: 1% 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
a.navbar-brand
{
    max-width: 30%;
}
img.logo
{
    max-width: 90%;
    height: auto;
    margin-left: 1%;
}
nav.navbar button.navbar-toggler
{
    border: none;
    font-size: 2rem;
    display: none;
}
nav.navbar button.navbar-toggler:focus
{
    box-shadow: none;
}
nav.navbar .navbar-collapse
{
    width: 70%;
}
nav.navbar .navbar-collapse a.nav-link
{
    font-weight: 400;
    transition: all 0.1s linear;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    padding: 1% 3%;
    letter-spacing: 1px;
    font-size: 1.1rem;
}
nav.navbar .navbar-collapse a.nav-link.active
{
    color: #128AF9;
    font-weight: 600;
}
nav.navbar .navbar-collapse a.nav-link:hover
{
    font-weight: 600;
}
nav.navbar .navbar-collapse a.nav-link:last-of-type
{
    border-radius: 5px;
}
nav.navbar .navbar-collapse a.nav-link:last-of-type
{
    background-color: #3E8CF6;
    border-radius: 15px;
    color: #FFFFFF;
}
.center
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 95%;
}
h1
{
    font-weight: 600;
    font-size: 3rem;
    color: #005487;
}
header .center p
{
    font-size: 1.2rem;
    width: 50%;
    margin: 0 auto;
}
header > a
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #000000;
    font-size: 3rem;
    animation: down 3s ease-out infinite;
}
header > a:hover
{
    color: #000000;
}
main section
{
    min-height: 100vh;
    height: auto;
    padding: 3%;
    position: relative;
}
h2
{
    font-weight: 600;
    font-size: 1.8rem;
}
footer
{
    background-color: #024668;
    padding: 1% 3%;
    color: #FFFFFF;
}
footer img
{
    width: 10%;
    height: auto;
    display: block;
}
footer aside, .copyright
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
footer aside
{
    border-top: 2px solid;
    padding: 2% 1%;
}
footer aside div:not(.links)
{
    width: 45%;
}
footer aside div.links
{
    width: calc(50%/4);
}
footer h3
{
    font-size: 1.5rem;
    margin: 0;
    font-weight: 600;
}
footer p:not(.heading), footer a
{
    color: #CCCCCC;
}
footer p.heading
{
    font-weight: 600;
    font-size: 1.2rem;
    filter: drop-shadow(0 0 0.3rem #000000);
    margin: 0 0 5%;
}
footer .links a
{
    text-decoration: none;
    padding-left: 3%;
    display: block;
    margin-bottom: 5%;
}
footer .links a:hover
{
    color: #FFFFFF;
}
.copyright
{
    background-color: #000000;
    color: #AAAAAA;
    padding: 1% 4% 2%;
    font-size: 0.9rem;
}
.copyright > p
{
    width: 40%;
}
.copyright  *
{
    margin-top: 0;
    color: inherit;
    text-decoration: none;
}
.copyright .links
{
    width: 60%;
    text-align: right;
}
.copyright a
{
    margin: 0 1%;
}
.copyright a:hover
{
    color: #CCCCCC;
}
@keyframes down
{
    from {
        bottom: 5%;
        opacity: 0;
    } to {
        bottom: 0;
        opacity: 1;
    }
}
/*@media screen and (max-width: 991px)
{
    nav.navbar .navbar-collapse.show
    {
        border-top: 1px solid #CCCCCC;
    }
    nav.navbar .navbar-collapse
    {
        padding-right: 2%;
    }
    nav.navbar .navbar-collapse li.nav-item:first-of-type
    {
        margin-top: 1%;
    }
    nav.navbar .navbar-collapse li.nav-item:last-of-type
    {
        margin: 0;
        background: none;
        padding-bottom: 2%;
    }
    nav.navbar .navbar-collapse a.nav-link
    {
        padding: 0;
        text-align: right;
    }
    nav.navbar .navbar-collapse li.nav-item:last-of-type a.nav-link
    {
        color: #DDDDDD;
    }
}
@media screen and (max-width: 800px)
{
    header .center p
    {
        width: 75%;
    }
}
@media screen and (max-width: 550px)
{
    h1
    {
        font-size: 2.5rem;
    }
    header .center p
    {
        width: 100%;
        font-size: 1rem;
    }
    i.bi-arrow-down-short
    {
        font-size: 2.5rem;
    }
    footer .links
    {
        border-bottom: 1px solid;
    }
    footer .links:last-of-type
    {
        border: none;
    }
    footer .links a
    {
        display: block;
        margin: 1% 0;
        border: none;
    }
}
@media screen and (max-width: 350px)
{
    nav.navbar button.navbar-toggler
    {
        font-size: 1.5rem;
    }
    nav.navbar .navbar-collapse a.nav-link
    {
        font-size: 1rem;
    }
}
@media screen and (max-width: 300px)
{
    h1
    {
        font-size: 2.5rem;
    }
} */