header
{
    min-height: 100vh;
}
nav.navbar
{
    background-color: #024060;
    padding: 0 1%;
    border-bottom: 1px solid #FFFFFF;
}
a.navbar-brand
{
    max-width: 75%;
}
a.navbar-brand img
{
    max-width: 25%;
    height: auto;
    margin-left: 1%;
}
nav.navbar button.navbar-toggler
{
    border: none;
    font-size: 2rem;
    color: #FFFFFF;
}
nav.navbar button.navbar-toggler:focus
{
    box-shadow: none;
}
nav.navbar-dark .navbar-nav a.nav-link
{
    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 1.1rem;
    color: #DDDDDD;
    text-transform: uppercase;
    transition: color 0.2s linear, font-weight 0.2s linear;
}
nav.navbar-dark .navbar-nav a.nav-link:hover
{
    font-weight: 700;
    color: #FFFFFF;
}
nav.navbar-dark .navbar-nav li.nav-item:last-of-type
{
    background: #FFFFFF;
    border-radius: 5px;
}
nav.navbar-dark .navbar-nav li.nav-item:last-of-type a.nav-link
{
    color: #024060;
}
.center
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 95%;
}
h1
{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 3rem;
}
header > a
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #000000;
    font-size: 3rem;
    animation: down 3s ease-out infinite;
}
header > a:hover
{
    color: #000000;
}
main section
{
    min-height: 100vh;
    height: auto;
    padding: 3%;
    position: relative;
}
h2
{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1.8rem;
}
footer
{
    background-color: #024060;
    padding: 1% 5%;
    position: relative;
}
footer aside
{
    padding: 0.5rem 0;
    color: #DDDDDD;
}
footer aside a
{
    font-family: 'Montserrat';
    color: inherit;
    padding: 0 1%;
    margin: 2% 0;
    text-decoration: none;
    border-right: 1px solid;
    font-size: 0.9rem;
}
footer aside a:last-of-type
{
    border: none;
}
footer aside a:hover
{
    color: #FFFFFF;
}
#copyright
{
    color: #BBBBBB;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 700;
    margin: 2% 0 0;
}
@keyframes down
{
    from {
        bottom: 5%;
        opacity: 0;
    } to {
        bottom: 0;
        opacity: 1;
    }
}
@media screen and (max-width: 991px)
{
    nav.navbar .navbar-collapse.show
    {
        border-top: 1px solid #CCCCCC;
    }
    nav.navbar .navbar-nav
    {
        padding-right: 2%;
    }
    nav.navbar .navbar-nav li.nav-item:last-of-type
    {
        margin: 0;
        background: none;
        padding-bottom: 2%;
    }
    nav.navbar-dark .navbar-nav a.nav-link
    {
        padding: 0;
        text-align: right;
    }
    nav.navbar-dark .navbar-nav li.nav-item:last-of-type a.nav-link
    {
        color: #DDDDDD;
    }
}
@media screen and (max-width: 550px)
{
    h1
    {
        font-size: 2.5rem;
    }
    i.bi-arrow-down-short
    {
        font-size: 2.5rem;
    }
    footer .links
    {
        border-bottom: 1px solid;
    }
    footer .links:last-of-type
    {
        border: none;
    }
    footer .links a
    {
        display: block;
        margin: 1% 0;
        border: none;
    }
}
@media screen and (max-width: 350px)
{
    nav.navbar button.navbar-toggler
    {
        font-size: 1.5rem;
    }
    nav.navbar .navbar-nav a.nav-link
    {
        font-size: 1rem;
    }
}
@media screen and (max-width: 300px)
{
    h1
    {
        font-size: 2.5rem;
    }
}