html
{
    scroll-behavior: smooth;
}
body
{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}
header
{
    min-height: 100vh;
}
nav.navbar
{
    padding: 1% 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}
a.navbar-brand
{
    max-width: 25%;
}
img.logo
{
    max-width: 100%;
    height: auto;
}
nav.navbar button.navbar-toggler
{
    border: none;
    background-color: transparent;
    border-radius: 5px;
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
nav.navbar button.navbar-toggler:focus
{
    box-shadow: none;
}
nav.navbar .navbar-collapse
{
    width: 75%;
    text-align: right;
}
nav.navbar .navbar-collapse.show
{
    display: block;
}
nav.navbar .navbar-collapse > div
{
	display: inline;
	position: relative;
}
nav.navbar .navbar-collapse a.nav-link
{
    font-weight: 400;
    transition: all 0.1s linear;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
    letter-spacing: 1px;
}
nav.navbar .navbar-collapse a.nav-link.active
{
    color: #128AF9;
    font-weight: 700;
}
nav.navbar .navbar-collapse a.nav-link:hover
{
    font-weight: 600;
}
nav.navbar .navbar-collapse > div .dropdown
{
	position: absolute;
	width: 10vw;
	left: 0;
	top: 100%;
	text-align: left;
	display: none;
	background-color: #FFFFFF;
    box-shadow: 0 5px 10px #00000040;
	z-index: 5;
}
nav.navbar .navbar-collapse > div:hover .dropdown, nav.navbar .navbar-collapse > div:focus .dropdown
{
	display: block;
}
nav.navbar .dropdown a.nav-link
{
	padding: 0.5rem;
	display: block;
}
nav.navbar .dropdown a.nav-link:hover, nav.navbar .dropdown a.nav-link:focus
{
	background-color: #005487;
	color: #FFFFFF;
}
nav.navbar .navbar-collapse > div:last-of-type > a.nav-link
{
    border-radius: 5px;
}
nav.navbar .navbar-collapse > div:last-of-type > a.nav-link
{
    background-color: #3E8CF6;
    border-radius: 15px;
    color: #FFFFFF;
}
nav.navbar .navbar-collapse > div:last-of-type .dropdown
{
	right: 0;
	left: auto;
}
.center
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 95%;
}
h1
{
    font-weight: 700;
    font-size: 3rem;
    color: #005487;
    text-transform: uppercase;
    text-align: center;
}
header .center p
{
    font-size: 1.2rem;
    width: 50%;
    margin: 0 auto;
}
header > a
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #000000;
    font-size: 3rem;
    animation: down 3s ease-out infinite;
}
header > a:hover
{
    color: #000000;
}
main section
{
    min-height: 100vh;
    height: auto;
    padding: 3%;
    position: relative;
}
h2
{
    font-weight: 700;
    font-size: 1.8rem;
}
#newsletter
{
    background-color: #128AF9;
    color: #FFFFFF;
    padding: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
#newsletter *
{
    color: inherit;
}
#newsletter i
{
    font-size: 4rem;
}
#newsletter > div
{
    width: 80%;
}
#newsletter h3, #newsletter p
{
    margin: 0;
}
#newsletter form
{
    padding: 2% 0 0;
}
#newsletter input:not([type="submit"])
{
    font-family: inherit;
    font-size: 1rem;
    border: none;
    box-shadow: 10px 10px 10px 0px #00000040;
    border-radius: 10px;
    padding: 1%;
    color: #000000;
    transition: all 0.2s linear;
    width: 25%;
    margin-bottom: 2%;
}
#newsletter input:first-of-type
{
    margin-right: 3%;
}
#newsletter input:not([type="submit"]):focus
{
    outline: none;
    box-shadow: 10px 10px 10px 0px #000000F5;
}
#newsletter input[type="submit"]
{
    padding: 1% 2%;
    border-radius: 10px;
    border: none;
    background-color: #015193;
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
}
footer
{
    background-color: #024668;
    padding: 1% 3%;
    color: #FFFFFF;
}
footer img
{
    width: 10%;
    height: auto;
    display: block;
}
footer aside, .copyright
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
footer aside
{
    border-top: 2px solid;
    padding: 2% 1%;
}
footer aside div
{
    box-sizing: border-box;
    padding-right: 2%;
}
footer aside div:not(.links)
{
    width: 45%;
}
footer aside div.links
{
    width: calc(55%/4);
}
footer h3
{
    font-size: 1.5rem;
    margin: 0;
    font-weight: 600;
}
footer p:not(.heading), footer a
{
    color: #CCCCCC;
}
footer p.heading
{
    font-weight: 600;
    font-size: 1.2rem;
    filter: drop-shadow(0 0 0.3rem #000000);
    margin: 0 0 5%;
}
footer .links a
{
    text-decoration: none;
    padding-left: 3%;
    display: block;
    margin-bottom: 5%;
}
footer .links a:hover
{
    color: #FFFFFF;
}
.copyright
{
    background-color: #000000;
    color: #AAAAAA;
    padding: 1% 4% 2%;
    font-size: 0.9rem;
}
.copyright > p
{
    width: 35%;
    color: #FFFFFF;
}
.copyright  *
{
    margin-top: 0;
    color: inherit;
    text-decoration: none;
}
.copyright .links
{
    width: 65%;
    text-align: right;
}
.copyright a
{
    margin: 0 1%;
}
.copyright a:hover
{
    color: #CCCCCC;
}
@keyframes down
{
    from {
        bottom: 5%;
        opacity: 0;
    } to {
        bottom: 0;
        opacity: 1;
    }
}
@media screen and (max-width: 991px)
{
    nav.navbar
    {
        justify-content: space-between;
        padding: 2% 5%;
    }
    a.navbar-brand
    {
        max-width: 50%;
    }
    nav.navbar button.navbar-toggler
    {
        display: block;
    }
    nav.navbar .navbar-collapse
    {
        display: none;
        width: 100%;
        margin: 2% auto;
    }
    #newsletter
    {
        padding: 3% 2%;
    }
    #newsletter input:not([type="submit"])
    {
        width: 35%;
    }
    footer img
    {
        margin: 0 auto;
        width: 20%;
    }
    footer aside div:not(.links)
    {
        width: 100%;
        margin-bottom: 1%;
        text-align: center;
    }
    footer aside div:not(.links) p
    {
        margin-top: 1%;
    }
    footer aside div.links
    {
        width: calc(100%/4);
    }
}
@media screen and (max-width: 767px)
{
    nav.navbar .navbar-collapse
    {
        margin: 0;
    }
    nav.navbar .navbar-collapse a.nav-link
    {
        display: block;
        width: 15%;
        margin-left: auto;
        text-align: right;
    }
    nav.navbar .navbar-collapse a.nav-link:last-of-type
    {
        color: #000000;
        background-color: #FFFFFF;
    }
    h1
    {
        font-size: 2.5rem;
    }
    h2
    {
        font-size: 1.5rem;
    }
    #newsletter
    {
        flex-direction: column;
        margin: 5% 0 0;
    }
    #newsletter h3
    {
        margin-top: 2%;
    }
    #newsletter input:not([type="submit"])
    {
        width: 50%;
		box-sizing: border-box;
        margin: 0 auto 3%;
        padding: 2%;
    }
    #newsletter input[type="submit"]
    {
        padding: 2% 3%;
    }
    .copyright
    {
        padding: 2%;
        flex-direction: column;
    }
    .copyright > p, .copyright > .links
    {
        text-align: center;
        width: 100%;
    }
}
@media screen and (max-width: 550px)
{
    a.navbar-brand
    {
        max-width: 70%;
    }
    nav.navbar .navbar-collapse a.nav-link
    {
        width: 25%;
        padding: 1% 3%;
    }
    #newsletter i, #pricing i
    {
        font-size: 3rem;
    }
    #newsletter form
    {
        padding-top: 5%;
    }
    #newsletter input:not([type="submit"])
    {
        width: 70%;
        padding: 3%;
        margin-bottom: 5%;
    }
    #newsletter input[type="submit"]
    {
        padding: 3% 5%;
    }
    footer img
    {
        width: 30%;
    }
    footer aside div.links
    {
        width: calc(100%/2.2);
        margin: 2% 0;
    }
}
@media screen and (max-width: 500px)
{
    .copyright > p
    {
        margin-bottom: 0;
    }
    .copyright .links a
    {
        display: block;
        margin: 2% auto;
    }
}
@media screen and (max-width: 400px)
{
    nav.navbar button.navbar-toggler
    {
        font-size: 1.5rem;
    }
    nav.navbar .navbar-collapse a.nav-link
    {
        width: 50%;
        font-size: 0.95rem;
    }
    h1
    {
        line-height: 1;
    }
    #newsletter input:not([type="submit"])
    {
        width: 90%;
        padding: 3%;
        margin-bottom: 5%;
    }
    #newsletter input[type="submit"]
    {
        padding: 3% 5%;
    }
    footer img
    {
        width: 50%;
    }
    .copyright
    {
        padding: 4% 2% 0;
    }
    .copyright .links a
    {
        margin: 4% auto;
    }
}