header
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
nav.navbar, footer, .copyright
{
    display: none;
}
#login
{
    width: 100%;
}
header #login p
{
    font-size: 0.875rem;
    width: 100%;
}
h1
{
    font-size: 2.5rem;
    text-align: center;
    padding: 2% 0 1%;
    margin: 0;
}
form
{
    width: 35%;
    border-radius: 5px;
    padding: 2% 3%;
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
    background-color: #024060;
}
form label
{
    font-size: 1.1rem;
    cursor: pointer;
}
form input
{
    width: 60%;
    margin: inherit;
    font-size: 1rem;
    padding: 0.4rem 0.6rem;
    border: 1px solid #DDDDDD;
    background-color: transparent;
    border-radius: 5px;
    display: block;
    color: #FFFFFF;
    transition: border-color 0.2s linear, box-shadow 0.2s linear;
}
form input:first-of-type
{
    margin-bottom: 3%;
}
form .form-text
{
    color: #CCCCCC;
    margin: 0;
}
#usernameError
{
    color: #FF0000;
}
form input:focus
{
    outline: none;
    border-color: #FFFFFF;
    box-shadow: 0 0 0.5rem #FFFFFF;
}
form input[type="submit"]
{
    margin: 5% auto 0;
    border: none;
    border: 0.1rem solid;
    border-radius: 5px;
    padding: 0.4rem 1.5rem;
    background-color: #024060;
    color: #FFFFFF;
    width: auto;
    transition: color 0.2s linear, background-color 0.2s linear;
    font-weight: 600;
}
form input[type="submit"]:hover
{
    background: #FFFFFF;
    color: #024060;
}
header #login p.signup
{
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    margin: 0.5rem 0;
}
.signup a
{
    color: #024060;
}
.copyright
{
    display: none;
}
@media screen and (max-width: 991px)
{
    form
    {
        width: 50%;
    }
}
@media screen and (max-width: 767px)
{
    form
    {
        width: 70%;
    }
}
@media screen and (max-width: 600px)
{
    form
    {
        width: 80%;
        padding: 5% 3% 7%;
    }
    form label:not(:first-of-type)
    {
        margin-top: 3%;
    }
    form input[type="submit"]
    {
        padding: 0.2rem 1rem;
    }
}
@media screen and (max-width: 400px)
{
    form
    {
        width: 95%;
    }
    form input[type="submit"]
    {
        margin-top: 5%;
    }
}