header
{
    min-height: auto;
}
h1, h2
{
    color: #005487;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}
h1
{
	font-size: 2rem;
}
h2 + p
{
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    margin: 3% auto 1%;
    font-weight: 700;
}
#pricing
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    min-height: auto;
}
.plan
{
    width: calc(100%/4.5);
    text-align: center;
    border: 2px solid #128AF9;
    padding: 2% 1%;
    position: relative;
}
.plan h3
{
    text-transform: uppercase;
    margin: 0;
    font-size: 1.75rem;
}
#professional
{
    background-color: #128AF9;
    color: #FFFFFF;
    font-weight: 600;
}
#professional > div:first-of-type
{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3%;
    border-radius: 15px;
    text-transform: uppercase;
    width: 60%;
    background-color: #015193;
}
.plan h3 + p
{
    margin: 2% auto 5%;
}
.price
{
    font-size: 1.3rem;
}
.plan hr
{
    border-left: none;
    border-right: none;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-bottom: 5%;
}
.plan:not(#professional) hr
{
    border-color: #128AF9;
}
#professional hr
{
    border-color: #FFFFFF;
}
.plan > hr + p
{
    margin: 0 auto;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}
.plan > hr + p i
{
    font-size: 2rem;
}
ul.features
{
    list-style-type: none;
    padding: 1% 2% 0;
    margin: 0 auto 10%;
    text-align: left;
    width: 80%;
}
.features li
{
    padding: 3% 0;
    text-transform: capitalize;
}
.features p
{
    margin: 0;
}
a.button
{
    padding: 4% 10%;
    border-radius: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translateX(-50%);
    width: 50%;
}
.plan:not(#professional) a.button
{
    background-color: #015193;
    color: #FFFFFF;
}
#professional a.button
{
    background-color: #EEF5FF;
    color: #015193;
}
@media screen and (max-width: 991px)
{
    .plan
    {
        width: calc(100%/2.5);
    }
    .plan:not(#premium, #enterprise)
    {
        margin-bottom: 3%;
    }
    .plan h3
    {
        margin-top: 3%;
    }
}
@media screen and (max-width: 767px)
{
    .plan
    {
        width: calc(100%/2.2);
    }
    .plan:not(#premium, #enterprise)
    {
        margin-bottom: 5%;
    }
    .plan h3
    {
        margin-top: 5%;
    }
}
@media screen and (max-width: 550px)
{
    h2
    {
        width: 90%;
        margin: 0 auto;
    }
    .plan, .plan:not(#premium, #enterprise)
    {
        width: calc(100%/1.2);
        margin-bottom: 8%;
    }
}
@media screen and (max-width: 400px)
{
    .plan, .plan:not(#premium, #enterprise)
    {
        width: 100%;
        margin-bottom: 8%;
    }
}