#performance, #people, #geography
{
    background-color: #024060;
    color: #FFFFFF;
}
.center p
{
    font-family: 'Raleway';
    font-size: 1.2rem;
    width: 50%;
    margin: 0 auto;
}
.center h2
{
    font-family: 'Montserrat';
    font-size: 2.2rem;
}