.center > i
{
    font-size: 3.5rem;
}
h1
{
    margin: 0;
}
header .center > p
{
    font-size: 1.5rem;
}
header > p
{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-weight: 700;
}
a
{
    color: inherit;
}
header > p > span
{
    cursor: pointer;
    text-decoration: underline;
}
@media screen and (max-width: 500px)
{
    header .center > p
    {
        width: 90%;
    }
}