header
{
    min-height: auto;
}
h1
{
    width: 90%;
    margin: 0 auto 1%;
    text-align: left;
    font-size: 2rem;
    border-bottom: 1px solid;
    padding: 1%;
}
#message
{
    color: #44BF00;
}
#error
{
    color: #FF1100;
}
#logout
{
    text-align: right;
    margin: 2% 4% 1%;
}
#logout a
{
    border: 1px solid;
    padding: 0.3rem 1%;
    text-decoration: none;
    text-transform: uppercase;
    color: #015193;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
#logout a:hover
{
    background-color: #015193;
    color: #FFFFFF;
}
main section
{
    min-height: auto;
    padding: 1% 3%;
}
.identifiers
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.identifiers p
{
    padding: 1% 3%;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #EEF5FF;
    color: #01519382;
    border: 2px solid;
    cursor: pointer;
    margin: 0;
    border-bottom: 0;
}
.identifiers p.active
{
    color: #015193;
}
main section > aside:not(.identifiers)
{
    padding: 3%;
    background-color: #EEF5FF;
    border: 2px solid #015193;
}
.profile form
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
form img, i.bi-person-fill
{
    max-width: 10%;
    border-radius: 50%;
    display: none;
}
form img.show, i.bi-person-fill.show
{
    display: block;
}
#profile
{
    cursor: pointer;
}
#preview
{
    filter: grayscale(0.5);
}
i.bi-person-fill
{
    font-size: 4rem;
    padding: 0 0.5rem;
}
form div
{
    box-sizing: border-box;
    padding: 0 0 0 1.5rem;
}
form div.info
{
    width: 60%;
}
form div.accounts
{
    width: 30%;
}
h2
{
    font-size: 1.5rem;
    border-bottom: 1px solid;
    text-transform: uppercase;
    color: #015193;
    padding: 0 0.5rem 0.5rem;
    margin-top: 0;
}
div.info p
{
    box-sizing: border-box;
    display: inline-block;
    width: 45%;
}
p.label
{
    color: #015193;
    font-weight: 600;
    text-transform: uppercase;
    margin: 3% 2% 0;
    font-size: 1.15rem;
}
p.label.name, p.label.phone
{
    margin-top: 0;
}
div.info p.data
{
    display: none;
}
div.info p.data.show
{
    margin: 0 2%;
    padding: 1%;
    border-bottom: 1px solid;
    display: block;
    /* display: inline-block; */
}
.info p.data.pass.show
{
    border-bottom: 0;
}
.data.pass a
{
    color: inherit;
    display: inline-block;
}
.data.pass a:first-of-type
{
    margin-bottom: 1%;
}
.data.pass a:hover
{
    color: #015193;
}
div.info p.data.verify.show
{
    border-bottom: none;
    font-weight: 600;
    text-transform: uppercase;
}
div.info p.data.verify.show.verified
{
    color: #44BF00;
}
div.info p.data.verify.show.unverified
{
    color: #FF1100;
}
div.info p.data.verify.show i
{
    font-size: 1.2rem;
    margin-right: 2%;
}
main section:last-of-type
{
    border-bottom: none;
}
.bi-pencil-square
{
    display: none;
    cursor: pointer;
    font-size: 0.85rem;
    vertical-align: top;
    margin-left: 0.3rem;
}
*:hover > .bi-pencil-square
{
    display: inline-block;
}
.profile input
{
    display: none;
    margin-bottom: 1%;
}
.info p + .profile input:not([type="submit"]).show
{
    display: block;
    /* display: inline-block; */
    width: 45%;
    margin: 1% 2%;
    padding: 1%;
    border: none;
    background-color: transparent;
    box-sizing: border-box;
    box-shadow: 0 2px 5px #00000050;
    transition: all 0.1s linear;
}
.info p + .profile input.show:focus
{
    outline: none;
    box-shadow: 0 2px 5px #000000F0;
}
.profile input[type="submit"].show, .profile input[type="reset"].show
{
    display: inline-block;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    margin: 2% 2% 0 0;
    background-color: transparent;
    border: 1px solid;
    transition: all 0.2s linear;
    font-weight: 700;
    font-size: 1rem;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
}
.profile input[type="submit"].show
{
    color: #289F34;
}
.profile input[type="submit"]:hover
{
    color: #EEF5FF;
    background-color: #289F34;
}
.profile input[type="reset"].show
{
    color: #FF160C;
}
.profile input[type="reset"]:hover
{
    color: #EEF5FF;
    background-color: #FF160C;
}
#message, #error
{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
}
.accounts p
{
    padding: 0 0 0 0.5rem;
    font-size: 1.2rem;
    margin: 0;
    font-weight: 600;
}
.account
{
    font-size: 1.2rem;
    padding: 0 0.5rem;
}
.account.connected
{
    color: #015193;
    font-weight: 700;
    cursor: default;
    transition: all 0.2s ease-in-out;
}
.account.connected:hover
{
    color: #289F34;
}
.account.connected:not(:last-of-type)
{
    margin-bottom: 3%;
}
.account i
{
    /* vertical-align: middle; */
    margin-right: 5%;
    font-size: 1.35rem;
}
.accounts h3
{
    color: #015193;
    padding: 0 0.5rem 0.5rem;
    text-transform: uppercase;
    border-bottom: 1px solid;
}
#gsiButton
{
    display: inline-block;
    padding: 0 0.5rem 0 0;
}
#liButton
{
    font-size: 1.35rem;
    padding: 0 0 0 0.2rem;
}
#liButton a
{
    color: #000000;
    transition: all 0.2s ease-in-out;
}
#liButton a:hover
{
    color: #0072B1;
}
.actions
{
    border: none;
    padding: 1.5rem 0 0 0;
}
.actions a
{
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin-right: 2%;
    border: 1px solid;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.2s linear;
    text-decoration: none;
}
.actions a:hover
{
    color: #FFFFFF;
}
.safe
{
    color: #128AF9;
}
.safe:hover
{
    background-color: #128AF9;
}
.danger
{
    color: #F91224;
}
.danger:hover
{
    background-color: #F91224;
}
.products p
{
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: 1% auto;
    width: 100%;
}
.card
{
    box-sizing: border-box;
    border: 1px solid #128AF9;
    margin: 2% auto;
    padding: 2%;
    width: 30%;
    position: relative;
}
.products > .card
{
    background-color:#128AF9;
    color: #FFFFFF;
    margin-top: 3%;
}
.products > .card > div:first-of-type
{
    text-align: center;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3%;
    border-radius: 15px;
    text-transform: uppercase;
    width: 50%;
    background-color: #015193;
}
.card-header
{
    padding: 0 0 3%;
    text-align: center;
    border-bottom: 2px solid;
}
.card h3
{
    font-size: 1.5rem;
    margin: 3%;
    margin-bottom: 0;
    text-transform: uppercase;
}
.card .card-header p
{
    margin-top: 0;
}
.card-header .price
{
    font-size: 1.3rem;
    font-weight: 600;
}
.card-body
{
    font-size: 1.1rem;
    padding: 3% 0 5%;
}
.card-body > p
{
    margin: 5% auto 0;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
}
.card-body > p i
{
    font-size: 2rem;
}
.card-body ul
{
    width: 80%;
    margin: 0 auto;
    list-style-type: none;
    padding-left: 0;
    font-size: 1rem;
    text-transform: capitalize;
}
.card-footer
{
    text-align: center;
    padding: 3%;
}
.card-footer a
{
    border: none;
    background-color: #015193;
    color: #FFFFFF;
    padding: 3% 5%;
    border-radius: 10px;
    font-weight: 600;
    transition: all 0.1s linear;
    text-transform: uppercase;
    text-decoration: none;
}
ul li
{
    padding: 3% 0;
}
.products .actions
{
    text-align: center;
}
#upgrade
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
#upgrade > h3
{
    width: 100%;
    text-transform: uppercase;
    border-bottom: 1px solid;
    color: #015193;
    padding: 1%;
    font-size: 1.2rem;
}
@media screen and (max-width: 991px)
{
    main section
    {
        padding: 1% 3% 3%;
    }
    .profile
    {
        text-align: center;
    }
    .profile form
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    form img
    {
        max-width: 15%;
        margin-bottom: 3%;
    }
    form > div
    {
        padding: 0;
        margin: 0 0 3%;
    }
    form > div.info, form > div.accounts
    {
        width: 50%;
    }
    div.info p.data.show
    {
        text-align: center;
        width: 70%;
        margin: 0 auto;
    }
    .actions
    {
        padding: 1.5rem 0;
        text-align: center;
    }
    .products h2, h3
    {
        text-align: center;
    }
    .products p
    {
        width: 90%;
        margin: 1% auto 2%;
    }
    .products > .card
    {
        margin: 5% auto 0;
    }
    .card
    {
        width: 50%;
        margin: 2%;
    }
}
@media screen and (max-width: 767px)
{
    #logout a
    {
        padding: 1% 3%;
    }
    form img
    {
        max-width: 20%;
    }
    form > div.info, form > div.accounts
    {
        width: 75%;
    }
    #actions
    {
        padding: 2% 1%;
    }
    .products h2, h3
    {
        margin-bottom: 2%;
    }
    .products p
    {
        margin: 3% auto;
    }
    .products > .card
    {
        margin-top: 6%;
    }
    .card
    {
        width: 65%;
    }
}
@media screen and (max-width: 550px)
{
    h1
    {
        text-align: center;
    }
    #logout
    {
        margin: 4% 4% 5%;
    }
    .identifiers p
    {
        padding: 2% 5%;
    }
    main section > aside:not(.identifiers)
    {
        padding: 5% 3%;
    }
    form img
    {
        max-width: 25%;
        margin-bottom: 5%;
    }
    form > div
    {
        margin: 0 0 5%;
    }
    form > div.info, form > div.accounts
    {
        width: 90%;
    }
    #actions
    {
        padding: 3% 1%;
    }
    .products > .card
    {
        padding: 4% 2%;
    }
    .card
    {
        width: 75%;
    }
}
@media screen and (max-width: 450px)
{
    #logout
    {
        margin: 8% 4%;
    }
    #logout a
    {
        padding: 2% 5%;
    }
    form img
    {
        max-width: 35%;
    }
    div.info p.data.show
    {
        width: 85%;
        padding: 2%;
    }
    #actions
    {
        padding: 5% 1%;
    }
    .products p
    {
        width: 100%;
        margin: 4% auto;
        font-size: 1rem;
    }
    .products > .card
    {
        margin-top: 8%;
    }
    .card
    {
        width: 85%;
    }
}
@media screen and (max-width: 350px)
{
    form img
    {
        max-width: 50%;
    }
    form > div.info
    {
        width: 100%;
    }
    div.info p.data.show
    {
        width: 95%;
    }
    .products > .card
    {
        margin-top: 10%;
    }
    .card
    {
        width: 95%;
    }
}
/* @media screen and (max-width: 991px)
{
    section:first-of-type img
    {
        max-width: 15%;
    }
    .card
    {
        width: calc(100%/2.2);
    }
    #upgrade .card:last-of-type
    {
        width: calc(100%/1.5);
    }
}
@media screen and (max-width: 767px)
{
    #upgrade
    {
        justify-content: center;
    }
    .card, #upgrade .card:last-of-type
    {
        width: calc(100%/1.8);
    }
}
@media screen and (max-width: 600px)
{
    section:first-of-type img
    {
        max-width: 25%;
    }
    p#email
    {
        margin-bottom: 3%;
    }
    .card, #upgrade .card:last-of-type
    {
        width: calc(100%/1.2);
    }
}
@media screen and (max-width: 400px)
{
    section
    {
        text-align: center;
    }
    section > button
    {
        position: static;
    }
    section:first-of-type img
    {
        max-width: 35%;
    }
    h1
    {
        text-align: center;
        margin-top: 5%;
    }
    input
    {
        margin: 0 auto 3%;
    }
    a#pass
    {
        display: inline-block;
        margin: 2% auto 3%;
    }
    .card, #upgrade .card:last-of-type
    {
        width: 100%;
    }
} */