img(src="https://visbanking.com/images/logo-visbanking.png", alt="Visbanking", style="max-width: 25%;")
h1(style="font-family: sans-serif;") A new Academics account has been requested
p(style="font-family: sans-serif;") The new Academics account was requested by #{name} with the following data:
ul(style="font-family: sans-serif;")
	li Name: #{name}
	li Email: #{email}
p(style="font-family: sans-serif;") Please verify that this person is indeed an academic/journalist.
p(style="font-family: sans-serif;") Upon verification, create an Academics acocunt with the data above in the 
	a(href="https://visbanking.com/admin/dashboard", target="_blank", rel="noopener noreferrer") Visbanking Admin Dashboard
	|  at "Users &gt; Academics"