<img src="https://visbanking.com/images/logo-visbanking.png" alt="Visbanking Logo" style="max-width: 25;">
<h1 style="font-family: sans-serif;">A new Academics account has been requested</h1>
<p style="font-family: sans-serif;">The new Academics account was requested by ${name} with the following data:</p>
<ul style="font-family: sans-serif;">
	<li>Name: ${name}</li>
	<li>Email: ${email}</li>
</ul>
<p>Please verify that this person is indeed an academic/journalist.</p>
<p>Upon verification, create an Academics acocunt with the data above in the <a href="https://visbanking.com/admin/dashboard" target="_blank">Visbanking Admin Dashboard</a>, "Academics" tab 
	( <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-workspace" viewBox="0 0 16 16">
	<path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
	<path d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z"/>
  	</svg> icon )
</p>