p(style="font-family:sans-serif;") Hello #{name},
p(style="font-family:sans-serif;") It's a pleasure be in contact with you. We are very happy to share with you this BANK RANKING REPORT between $10B and $100B in asset size (Q2- 2022)
p(style="font-family:sans-serif;") In this report, you'll find the US bank's rankings for deposit growth, loan growth, return on assets, return on equity, cost of funds, net interest margin, growth in the number of employees, and the efficiency ratio.
p(style="font-family:sans-serif;") With this ranking information you will enhance your decision-making, analyze quickly the market, save time, act early and gain a competitive advantage in your performance.
a(href="https://visbanking.com/files/landing/report/report.pdf", download="Bank Ranking Report.pdf", style="font-family:sans-serif;border-radius: 20px;width: auto;display:inline-block;margin: 1rem auto;cursor: pointer;font-weight: 600;color: #FFFFFF;font-size: 1.1rem;border: none;padding: 0.5rem 1rem;background-color: #EE8800;", title="Download the report") Download the report 
p(style="font-family:sans-serif;") Maximizes your return on information by solutions, data, news, and insights. Get the banking data you need to make confident business decisions. Ask for a demo 
	a(href="https://calendly.com/visbanking/visbanking-demo-meeting", target="_blank") here
	| !
p(style="font-family:sans-serif;") Have a good day,
p(style="font-family:sans-serif;margin-bottom:0;")
	strong Brian Pillmore
p(style="font-family:sans-serif;margin-bottom:0;margin-top:0;") CEO
p(style="font-family:sans-serif;margin-bottom:0;margin-top:0;") Visbanking
p(style="font-family:sans-serif;margin-top:0;") www.visbanking.com