img(src="https://visbanking.com/images/logo-visbanking.png", alt="Visbanking", style="max-width: 25%;")
h1(style="font-family: sans-serif;") New Lead Generated
p(style="sont-family: sans-serif;") New lead was generated with the following information:
ul(style="font-family: sans-serif;")
	li Name: #{name}
	li Email: #{email}
p(style="font-family: sans-serif;") Optional Information entered:
ul(style="font-family: sans-serif;")
	li Phone: #{phone || "N/A"}