p(style="font-family:sans-serif;") Hello #{name},
p(style="font-family:sans-serif;") Thanks for the opportunity to have this important conversation!
p(style="font-family:sans-serif;") We are very happy to share with you this bank ranking report for banks with between $10B and $100B in assets. The report provides a breakdown of the regional banks across the United States with significant metrics and KPIs.
p(style="font-family:sans-serif;") Within this report, you will find income statement and balance sheet metrics as well as performance ratios. Within the balance sheet metrics, you can see year over year deposit and loan growth. On the income statement side, we have the net interest margin and cost of funds ranking. Meanwhile, our performance metrics provide data about return on assets, return on equity, efficiency ratio, and headcount growth.
p(style="font-family:sans-serif;") Enhance your decision-making, quickly analyze the market, save time, act early, and gain a competitive advantage in your performance. 
a(href="https://visbanking.com/files/landing/report/report.pdf", download="Bank Ranking Report.pdf", style="font-family:sans-serif;border-radius: 20px;width: auto;display:inline-block;margin: 1rem auto;cursor: pointer;font-weight: 600;color: #FFFFFF;font-size: 1.1rem;border: none;padding: 0.5rem 1rem;background-color: #EE8800;", title="Download the report") Download the report 
p(style="font-family:sans-serif;") With this report, you can maximize your return on information with vital solutions, data, news, and insights. Get the banking data you need to make confident business decisions. Ask for a demo 
	a(href="https://calendly.com/visbanking/visbanking-demo-meeting", target="_blank") here
	| !
p(style="font-family:sans-serif;") I'll be available if you have any questions,
p(style="font-family:sans-serif;margin-bottom:0;")
	strong Brian Pillmore
p(style="font-family:sans-serif;margin-bottom:0;margin-top:0;") CEO
p(style="font-family:sans-serif;margin-bottom:0;margin-top:0;") Visbanking
p(style="font-family:sans-serif;margin-top:0;") www.visbanking.com