<img src="https://visbanking.com/images/logo-visbanking.png" alt="Visbanking Logo" style="max-width: 25;">
<h1 style="font-family: sans-serif;">Hey ${name}</h1>
<h2 style="font-family: sans-serif;">Thanks for signing up!</h2>
<p style="font-family: sans-serif; margin-bottom: 1rem;">Please verify your email by clicking the button below:</p>
<a href="http://visbanking.com/signup/verify?e=${email}&c=${code}" style="text-align: center; padding: 0.5rem 1rem; text-transform: uppercase; font-size: 1rem; border: 1px solid; color: #FFFFFF; background-color: #005487; text-decoration: none; border-radius: 5px;">Verify Email</a>
<p style="font-family: sans-serif; margin-top: 1rem;">If you did not sign up to our Service, please ignore this email.</p>
<p style="font-family: sans-serif; margin-bottom: 0.2rem;">Thanks,</p>
<p style="font-family: sans-serif; margin-top: 0.2rem;">The Visbanking Team</p>