<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	</head>
	<body>
		<h1>Forgot your password?</h1>
		<p>No problem! Click <a href="https://visbanking.com/recovery/reset?user=${user}&recovery_id=${recovery_id}">here</a> to reset your password.</p>
		<p class="socials">
			<a href="https://facebook.com/visbanking" target="_blank" rel="noopener noreferrer nofollow">
				<i class="bi-facebook"></i>
			</a>
			<a href="https://linkedin.com/company/visbanking" target="_blank" rel="noopener noreferrer nofollow">
				<i class="bi-linkedin"></i>
			</a>
			<a href="https://instagram.com/visbanking" target="_blank" rel="noopener noreferrer nofollow">
				<i class="bi-instagram"></i>
			</a>
		</p>
	</body>
</html>
