body
{
    margin: 0;
    font-family: 'Source Sans Pro';
}
body > *
{
    margin: 0 auto;
    text-align: center;
}
h1
{
    font-weight: 700;
}
a
{
    padding: 1% 2%;
    background-color: #128AF9;
    color: #FFFFFF;
    font-size: 1rem;
    text-transform: uppercase;
}